In [7]:
import pandas as pd
import gzip
import io

import os.path

In [9]:
# db_route = os.path.join(route, '..', 'datasets', 'processed', 'bd')
# Leer archivos parquet
db_route = '../datasets/processed/bd/'
state = pd.read_parquet(os.path.abspath(os.path.join(db_route, '1_states.parquet.gz')))
# user_yelp = pd.read_parquet(os.path.abspath(os.path.join(db_route, '3_user_yelp.parquet.gz')))
# categories = pd.read_parquet(os.path.abspath(os.path.join(db_route, '2_categories.parquet.gz')))
# user_google = pd.read_parquet(os.path.abspath(os.path.join(db_route, '4_user_google.parquet.gz')))
business_google = pd.read_parquet(os.path.abspath(os.path.join(db_route, '5_business_google.parquet.gz')))
business_yelp = pd.read_parquet(os.path.abspath(os.path.join(db_route, '6_business_yelp.parquet.gz')))
# categories_google = pd.read_parquet(os.path.abspath(os.path.join(db_route, '7_categories_google.parquet.gz')))
# categories_yelp = pd.read_parquet(os.path.abspath(os.path.join(db_route, '8_categories_yelp.parquet.gz')))
# reviews_google = pd.read_parquet(os.path.abspath(os.path.join(db_route, '9_reviews_google.parquet.gz')))
# reviews_yelp = pd.read_parquet(os.path.abspath(os.path.join(db_route, '10_reviews_yelp.parquet.gz')))

In [11]:
business_google

,gmap_id,name,latitude,longitude,avg_stars,state_id
0,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,Cape Seafood Shack,26.641377,-81.940545,5.00,1
1,0x88c2e4e34f1ed783:0x76c5da381c499d79,Fresh Point Country Buffet,27.867489,-82.702971,5.00,1
2,0x8890b9241e704667:0x3a1e565c17c00993,Hot Box,30.391411,-87.267220,4.20,1
3,0x88e635378f43352f:0xa1b53c63436fa428,Shell,29.183272,-81.889965,1.80,1
4,0x88d9ab98b5baad79:0x1a2e3f0642a55246,Baby Food Grill Bar,26.010250,-80.148659,3.00,1
...,...,...,...,...,...,...
54900,0x89c3b2b8e9c8c357:0xb1b07826ef85a598,Park View Tavern,40.653743,-74.234148,4.26,4
54901,0x89c24d60acc3ffff:0xc8048546518281f6,The Brown Derby Cafe Rental Hall,40.661250,-74.193971,4.73,4
54902,0x89c24d7a198a3541:0x3dcb8f429c053248,Georges Lunch,40.654865,-74.177221,4.40,4
54903,0x89c3b290dcc12d6d:0x34ad59938efed577,Las Brasas Sports Bar and Restaurant,40.661939,-74.248363,3.81,4
54904,0x89c17b3b65b4680d:0x40a43d960a97a0,Jackson Pizza,40.109785,-74.387818,4.50,4