In [2]:
import pandas as pd
import gzip
import io

import os.path

In [3]:
# db_route = os.path.join(route, '..', 'datasets', 'processed', 'bd')
# Leer archivos parquet
db_route = '../datasets/processed/bd/'
state = pd.read_parquet(os.path.abspath(os.path.join(db_route, '1_states.parquet.gz')))
# user_yelp = pd.read_parquet(os.path.abspath(os.path.join(db_route, '3_user_yelp.parquet.gz')))
# categories = pd.read_parquet(os.path.abspath(os.path.join(db_route, '2_categories.parquet.gz')))
# user_google = pd.read_parquet(os.path.abspath(os.path.join(db_route, '4_user_google.parquet.gz')))
business_google = pd.read_parquet(os.path.abspath(os.path.join(db_route, '5_business_google.parquet.gz')))
# business_yelp = pd.read_parquet(os.path.abspath(os.path.join(db_route, '6_business_yelp.parquet.gz')))
# categories_google = pd.read_parquet(os.path.abspath(os.path.join(db_route, '7_categories_google.parquet.gz')))
# categories_yelp = pd.read_parquet(os.path.abspath(os.path.join(db_route, '8_categories_yelp.parquet.gz')))
# reviews_google = pd.read_parquet(os.path.abspath(os.path.join(db_route, '9_reviews_google.parquet.gz')))
# reviews_yelp = pd.read_parquet(os.path.abspath(os.path.join(db_route, '10_reviews_yelp.parquet.gz')))

In [4]:
state

   state_id       state
0         1     Florida
1         2  California
2         3    Illinois
3         4  New Jersey