In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Cargar estados

In [ ]:
## Lista con nombre de los estados
# estados = []
# ruta = '../datasets/raw/Google Maps/reviews-estados'
# for estado in os.listdir(ruta):
#         estado_path = os.path.join(ruta, estado)
        
#         if os.path.isdir(estado_path) and estado.startswith('review-'):
#             nombre_estado = estado[len('review-'):]
#             estados.append(nombre_estado)

In [ ]:
# # Funcion para leer todos los json de una carpeta y unirlos en un datafram
# def read_all_json(folder_ruth):
#     dataframes = []
#     for archivo_json in os.listdir(folder_ruth):
#         if archivo_json.endswith('.json'):
#             # Construye la ruta completa del archivo JSON
#             ruta_archivo_json = os.path.join(folder_ruth, archivo_json)
            
#             # Lee el archivo JSON en un DataFrame
#             df = pd.read_json(ruta_archivo_json,lines=True)
            
#             # Agrega el DataFrame a la lista
#             dataframes.append(df)

#     # Concatena todos los DataFrames en uno solo
#     return pd.concat(dataframes, ignore_index=True)

In [ ]:
# # Extraer la fecha del diccionario
# def extraer_resp_time(diccionario):
#     if diccionario is not None:
#         return diccionario['time']
#     else:
#         return None

# # Función para extraer 'resp_text'
# def extraer_resp_text(diccionario):
#     if diccionario is not None:
#         return diccionario['text']
#     else:
#         return None
    
# #Transformo los formatos de time, extraigo time y texto de respuesta
# def format_time(df):
#     df['time'] =  pd.to_datetime(df['time'], unit='ms')
#     df['resp_time'] = df['resp'].apply(extraer_resp_time)
#     df['resp_time'] = pd.to_datetime(df['resp_time'], unit='ms')
#     df['resp_text'] = df['resp'].apply(extraer_resp_text)
#     df['resp_text'] = df['resp'].apply(extraer_resp_text)
#     df.drop(columns=['resp'],inplace=True)

In [ ]:
# for estado in estados:
#     rutas = f'{ruta}/review-{estado}'
#     df = read_all_json(rutas)
#     format_time(df)
#     df.to_parquet(f'./{rutas}/all_{estado}.parquet',index=False)

## Reviews

In [2]:
ruta ='../datasets/extras/Google Maps/reviews-estados'

In [4]:
metadata_google = pd.read_json('../datasets/extras/Google Maps/bussiness_google.json.gz', compression='gzip')

## Carga de datos por criterio

### Criterio: Lugar

In [5]:
# Discriminar por estado
estados = ['California', 'New_Jersey', 'Florida', 'Illinois'] 

df_states = pd.DataFrame()

for estado in estados:
    ruta_archivo = f'{ruta}/review-{estado}/all_{estado}.parquet'
    review_estado = pd.read_parquet(ruta_archivo)

    # Agrega la columna 'state' con el valor del estado actual
    review_estado['state'] = estado

    df_states = pd.concat([df_states, review_estado], ignore_index=True)
    
# df_states ahora contiene la concatenación de todos los DataFrames de los diferentes estados, con la columna 'state' agregada

Normalizo un estado

In [6]:
df_states['state'].replace('New_Jersey','New Jersey',inplace=True)

In [7]:
df_states.head()

,user_id,name,time,rating,text,pics,gmap_id,resp_time,resp_text,state
0,1.089912e+20,Song Ro,2021-01-06 05:12:07.056,5,Love there korean rice cake.,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,California
1,1.112903e+20,Rafa Robles,2021-02-09 05:47:28.663,5,Good very good,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,California
2,1.126404e+20,David Han,2020-03-08 05:04:42.296,4,They make Korean traditional food very properly.,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,California
3,1.174403e+20,Anthony Kim,2019-03-07 05:56:56.355,5,Short ribs are very delicious.,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,California
4,1.005808e+20,Mario Marzouk,2017-05-16 05:01:41.933,5,Great food and prices the portions are large,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,California

In [8]:
# Elimino duplicados en user_id time y gmap_id en conjunto
df_states.drop_duplicates(subset=['user_id','time','gmap_id'],inplace=True)

In [9]:
# Elimino la columna pics que no sera usada
df_states.drop(columns='pics',inplace=True)

In [10]:
df_states.sample(5)

,user_id,name,time,rating,text,gmap_id,resp_time,resp_text,state
2459354,1.034779e+20,Ana Valle,2019-10-10 23:59:40.769,5,(Translated by Google) I like this place have ...,0x80e82ec37754481b:0x66c5961ba0625ea7,NaT,None,California
7984741,1.094072e+20,Odis Smith,2018-10-04 11:01:59.665,4,None,0x880a593e42498265:0xe49c910a373455e8,NaT,None,Illinois
5810281,1.093965e+20,Josefina Henselin,2017-06-09 17:53:28.812,4,None,0x88c346b0c5072b23:0xa1a95257aa500860,NaT,None,Florida
813297,1.174488e+20,Srikanth G,2018-11-10 07:24:30.755,3,None,0x80c2d908d8426e4f:0x73be050fc7c64ee0,NaT,None,California
3592396,1.171429e+20,Amanda Yuan,2018-02-11 18:00:12.984,2,2 star rating for willful ignorance of their c...,0x89c3c80ca0f247fb:0x2b41241bafa7df44,NaT,None,New Jersey

### Criterio: Tiempo

In [ ]:
# Convertir la columna 'time' a tipo datetime
df_states['time'] = pd.to_datetime(df_states['time'])

# Filtrar los datos por año desde 2015 inclusive en adelante
df_filtered = df_states[df_states['time'].dt.year >= 2015]

# Eliminar las milésimas de segundo de la columna 'time'
df_filtered['time'] = df_filtered['time'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
# Renombrar columna de tiempo de respuesta
df_states.rename(columns={'resp_time':'resp_date'},inplace=True)
df_states.rename(columns={'stars':'rating'},inplace=True)

### Criterio: Rubro

In [13]:
metadata_google[['gmap_id','category']]

,gmap_id,category
4,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,['Restaurant']
5,0x88c2e4e34f1ed783:0x76c5da381c499d79,['Buffet restaurant']
46,0x8890b9241e704667:0x3a1e565c17c00993,['Restaurant']
81,0x88e635378f43352f:0xa1b53c63436fa428,['Gas station' 'ATM' 'Convenience store' 'Rest...
156,0x88d9ab98b5baad79:0x1a2e3f0642a55246,['Mexican restaurant']
...,...,...
693466,0x89c3b2b8e9c8c357:0xb1b07826ef85a598,['Bar' 'Italian restaurant' 'Pub' 'Restaurant']
693471,0x89c24d60acc3ffff:0xc8048546518281f6,['Restaurant' 'Family restaurant']
693475,0x89c24d7a198a3541:0x3dcb8f429c053248,['American restaurant']
693478,0x89c3b290dcc12d6d:0x34ad59938efed577,['Latin American restaurant' 'Mexican restaura...
693485,0x89c17b3b65b4680d:0x40a43d960a97a0,['Pizza restaurant' 'Italian restaurant' 'Pizz...

Encuentro las review que por gmap_id pertenezcan a los locales de restaurante.

In [14]:
df_states = df_states[df_states['gmap_id'].isin(metadata_google['gmap_id'])]

## Analisis de sentimiento usando TextBlob

In [15]:
from textblob import TextBlob

In [20]:
df_states['sentiment_textblob'] = df_states['text'].apply(lambda x:0 if x is None else TextBlob(x).sentiment.polarity)
df_states['sentiment_textblob_resp'] = df_states['resp_text'].apply(lambda x:0 if x is None else TextBlob(x).sentiment.polarity)

Exploro y comparo ratings con score del sentimiento

In [22]:
df_states[df_states['sentiment_textblob']<0].sample(5)

,user_id,name,time,rating,text,gmap_id,resp_date,resp_text,state,sentiment_textblob,sentiment_textblob_resp
8678323,1.101953e+20,Helene Davis,2017-07-02 17:58:48.378,3,"The service was fine, but the ladies washroom ...",0x880e2ca33bc9165f:0xf896be6b8d2ff3cd,NaT,None,Illinois,-0.291667,0.000000
5300582,1.145666e+20,Shaunna Echols,2019-09-08 22:00:23.408,1,These are some rude people,0x88dd369955ca35eb:0x6420c3f954070ee6,NaT,None,Florida,-0.300000,0.000000
7079223,1.052100e+20,Isabel Aponte,2021-01-05 23:13:49.795,3,It's ok but pricey. The empanadas were horribl...,0x88d9e93dda20de97:0x58e6173111978897,2021-01-13 17:07:15.694000128,"Isabel, we are sorry that you are not satisfie...",Florida,-0.250000,-0.116667
91967,1.039254e+20,Angel Aguilar,2018-05-07 19:41:48.395,1,"Terrible food, no exaggerations, the worst foo...",0x80dd2ca341325461:0x5e8239729c81365d,NaT,None,California,-1.000000,0.000000
9339379,1.016224e+20,Robert Ryan,2019-10-07 20:57:33.755,3,Kijnd of disappointed but friendly very busy,0x87d8a9e0e7e57579:0xbe266890af621b96,NaT,None,Illinois,-0.081667,0.000000

### Criterio de sentiment

Voy a generar el criterio que en el sentimiento se obtenga un valor cuantificable mas real, normalizando el ranting y sumandole al socre

In [23]:
df_states['sentiment'] = df_states['rating'] / 5. + df_states['sentiment_textblob']

### En base al valor obtenido defino el criterio para score ponderado <br>
 mayor a 1.5 en un sentimiento muy bueno y asigno 2, <br>
 mayor a 1 y menor a 1.5 en un sentimiento bueno y asigno 1,<br>
 menor a 0.3 es un score negativo y asigno -1,<br>
 entre 1 y 0.3 es un score neutro y asigno 0

In [25]:
df_states['sentiment'] = df_states['sentiment'].apply(lambda x: 2 if x >= 1.5 else (1 if x >= 1 else (-1 if x <= 0.3 else 0)))

In [27]:
# Elimino las columnas que ya no se usan debido al analisis de sentimiento
df_states.drop(columns=['sentiment_textblob','text','resp_text', 'state'],inplace=True)

In [ ]:
# Crear la columna 'review_id'
df_states['review_id'] = range(len(df_filtered))

# Reorganizar las columnas
df_states = df_states[['review_id', 'user_id', 'gmap_id', 'stars', 'sentiment', 'time', 'sentiment_resp', 'resp_time']]

In [28]:
df_states.head(1)

,user_id,name,time,rating,gmap_id,resp_date,state,sentiment_textblob_resp,sentiment
0,1.089912e+20,Song Ro,2021-01-06 05:12:07.056,5,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,California,0.0,2
1,1.112903e+20,Rafa Robles,2021-02-09 05:47:28.663,5,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,California,0.0,2
2,1.126404e+20,David Han,2020-03-08 05:04:42.296,4,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,California,0.0,0
3,1.174403e+20,Anthony Kim,2019-03-07 05:56:56.355,5,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,California,0.0,2
4,1.005808e+20,Mario Marzouk,2017-05-16 05:01:41.933,5,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,California,0.0,2

### Por último exporto el dataset a parquet particionado por estados

In [29]:
df_states.to_parquet('../datasets/processed/google/reviews_google.parquet.gz', compression='gzip')

---

In [23]:
revi_google = pd.read_parquet(r'..\datasets\processed\google\reviews_google.parquet.gz')

In [24]:
revi_google.rename(columns={'resp_date': 'resp_date'}, inplace=True)
revi_google.rename(columns={'sentiment_textblob_resp': 'resp_sentiment'}, inplace=True)
revi_google.rename(columns={'time': 'date'}, inplace=True)
revi_google.rename(columns={'rating': 'stars'}, inplace=True)
revi_google = revi_google[['user_id','gmap_id','stars','sentiment','date','resp_sentiment','resp_date']]
revi_google.reset_index(inplace=True)
revi_google.drop(columns = ['index'], inplace= True)
revi_google

,user_id,gmap_id,stars,sentiment,date,resp_sentiment,resp_date
0,1.089912e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-01-06 05:12:07.056,0.0,NaT
1,1.112903e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-02-09 05:47:28.663,0.0,NaT
2,1.126404e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,4,0,2020-03-08 05:04:42.296,0.0,NaT
3,1.174403e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2019-03-07 05:56:56.355,0.0,NaT
4,1.005808e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2017-05-16 05:01:41.933,0.0,NaT
...,...,...,...,...,...,...,...
2452767,1.091054e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2016-09-01 01:03:33.962,0.0,NaT
2452768,1.159805e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2017-07-26 19:09:52.414,0.0,NaT
2452769,1.159471e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2015-11-16 17:06:38.468,0.0,NaT
2452770,1.179236e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,3,0,2016-10-06 10:41:33.492,0.0,NaT
2452771,1.170134e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,2,0,2015-06-24 18:25:59.411,0.0,NaT

In [25]:
revi_google.to_parquet(r'..\datasets\processed\bd\reviews_google.parquet.gz')