# Categorias de los restaurantes

Todos los datasets usados acá fueron trabajados en "etl-eda\etl_bussiness.ipynb".

In [2]:
import pandas as pd

## Restaurantes de Google

In [2]:
google = pd.read_parquet("../datasets/processed/google/bussiness_google.parquet.gz")
google

,gmap_id,name,latitude,longitude,stars,categories,state
0,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,Cape Seafood Shack,26.641377,-81.940545,5.0,[Restaurant],Florida
1,0x88c2e4e34f1ed783:0x76c5da381c499d79,Fresh Point Country Buffet,27.867489,-82.702971,5.0,[Buffet restaurant],Florida
2,0x8890b9241e704667:0x3a1e565c17c00993,Hot Box,30.391411,-87.267220,4.2,[Restaurant],Florida
3,0x88e635378f43352f:0xa1b53c63436fa428,Shell,29.183272,-81.889965,1.8,"[Gas station, ATM, Convenience store, Restaurant]",Florida
4,0x88d9ab98b5baad79:0x1a2e3f0642a55246,Baby Food Grill & Bar,26.010250,-80.148659,3.0,[Mexican restaurant],Florida
...,...,...,...,...,...,...,...
54901,0x89c3b2b8e9c8c357:0xb1b07826ef85a598,Park View Tavern,40.653743,-74.234148,4.3,"[Bar, Italian restaurant, Pub, Restaurant]",New Jersey
54902,0x89c24d60acc3ffff:0xc8048546518281f6,The Brown Derby Cafe & Rental Hall,40.661250,-74.193971,4.6,"[Restaurant, Family restaurant]",New Jersey
54903,0x89c24d7a198a3541:0x3dcb8f429c053248,George's Lunch,40.654865,-74.177221,4.5,[American restaurant],New Jersey
54904,0x89c3b290dcc12d6d:0x34ad59938efed577,Las Brasas Sports Bar and Restaurant,40.661939,-74.248363,3.9,"[Latin American restaurant, Mexican restaurant...",New Jersey
54905,0x89c17b3b65b4680d:0x40a43d960a97a0,Jackson Pizza,40.109785,-74.387818,4.5,"[Pizza restaurant, Italian restaurant, Pizza d...",New Jersey

In [3]:
google = google[['gmap_id', 'categories']]

In [4]:
listaCategorias = []
for categorias in google['categories']:
    for categoria in categorias:
        if categoria not in listaCategorias:
            listaCategorias.append(categoria)

In [5]:
len(listaCategorias)

1154

## Restaurantes de Yelp

In [6]:
yelp = pd.read_parquet("../datasets/processed/yelp/bussiness_yelp.parquet.gz")
yelp.head()

,business_id,name,latitude,longitude,stars,categories,state
0,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.456320,4.0,"[Vietnamese, Food, Restaurants, Food Trucks]",Florida
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.5,"[Food, Delis, Italian, Bakeries, Restaurants]",Florida
2,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,28.046203,-82.505053,4.0,"[Restaurants, American (New), Italian]",Florida
3,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,27.960514,-82.506127,4.0,"[Restaurants, Pizza]",Florida
4,pJfh3Ct8iL58NZa8ta-a5w,Top Shelf Sports Lounge,28.196252,-82.380615,4.5,"[Burgers, Sports Bars, Bars, Lounges, Restaura...",Florida

In [7]:
for categorias in yelp['categories']:
    for categoria in categorias:
        if categoria not in listaCategorias:
            listaCategorias.append(categoria)

In [8]:
len(listaCategorias)

1660

## Generacion de dummies

In [9]:
categorias = pd.DataFrame(columns=listaCategorias)
categorias

Empty DataFrame
Columns: [Restaurant, Buffet restaurant, Gas station, ATM, Convenience store, Mexican restaurant, Takeout Restaurant, Sandwich shop, Caterer, Fast food restaurant, Indian restaurant, Bakery, Cafe, Cafeteria, Cake shop, Cupcake shop, Kosher grocery store, Kosher restaurant, Pastry shop, Pizza restaurant, Wedding bakery, Bar & grill, Bar, Sports bar, Seafood restaurant, Cajun restaurant, Chicken wings restaurant, Steak house, Puerto Rican restaurant, Nuevo Latino restaurant, Juice shop, Health food restaurant, Delivery Restaurant, American restaurant, Breakfast restaurant, Dinner theater, Wine bar, Colombian restaurant, Hamburger restaurant, Deli, Asian restaurant, Chinese restaurant, Ramen restaurant, Tourist attraction, Parking garage, Shopping mall, Theme park, Italian restaurant, Fine dining restaurant, New American restaurant, Mediterranean restaurant, Pizza delivery, Pizza Takeout, Peruvian restaurant, Health food store, Association or organization, Sushi restaurant, Family restaurant, Taco restaurant, Chicken restaurant, Thai restaurant, Barbecue restaurant, Fish & chips restaurant, Spanish restaurant, Snack bar, Southern restaurant (US), Delivery service, Pasta shop, Salad shop, Latin American restaurant, Mobile caterer, Beer garden, Brewery, Brunch restaurant, Live music bar, Moroccan restaurant, Wine store, Coffee shop, Hot dog restaurant, Cuban restaurant, Down home cooking restaurant, Asian fusion restaurant, Japanese restaurant, Japanese steakhouse, Caribbean restaurant, Live music venue, Night club, Box lunch supplier, Catering, Professional services, Food and beverage consultant, Beer store, Food court, European restaurant, Cheese shop, Lunch restaurant, Vegan restaurant, Vegetarian restaurant, Software company, Accounting software company, ...]
Index: []

[0 rows x 1660 columns]

In [19]:
google.explode('categories').head(10)

                                 gmap_id          categories
0  0x88db4147b1d9e6f3:0x943dbd10a92ba1b1          Restaurant
1  0x88c2e4e34f1ed783:0x76c5da381c499d79   Buffet restaurant
2  0x8890b9241e704667:0x3a1e565c17c00993          Restaurant
3  0x88e635378f43352f:0xa1b53c63436fa428         Gas station
3  0x88e635378f43352f:0xa1b53c63436fa428                 ATM
3  0x88e635378f43352f:0xa1b53c63436fa428   Convenience store
3  0x88e635378f43352f:0xa1b53c63436fa428          Restaurant
4  0x88d9ab98b5baad79:0x1a2e3f0642a55246  Mexican restaurant
5  0x88d9b86c23bb04eb:0x2a82da546b7feb1b          Restaurant
6  0x88d9ba5d65937567:0xbc27649cf513cc89          Restaurant