# ETL para la base de datos

In [403]:
import pandas as pd
import unicodedata

In [404]:
google = pd.read_parquet('../datasets/processed/google/business_google.parquet.gz')
yelp = pd.read_parquet('../datasets/processed/yelp/business_yelp.parquet.gz')

# state

In [405]:
states = pd.DataFrame(columns=['state_id', 'state'])

states['state'] = google['state'].unique()
states['state_id'] = list(range(1,5))
states

   state_id       state
0         1     Florida
1         2  California
2         3    Illinois
3         4  New Jersey

In [406]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state_id  4 non-null      int64
 1   state     4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [407]:
states.to_parquet('../datasets/processed/bd/1_states.parquet.gz', compression='gzip')

Exportamos

# reviews_yelp

In [408]:
reviews_yelp = pd.read_parquet('../datasets/processed/yelp/reviews_yelp.parquet.gz')

In [409]:
reviews_yelp['date'] = reviews_yelp['date'].dt.strftime('%Y-%m-%d %H:%M:%S').str.replace('\r', '')
reviews_yelp

,review_id,user_id,business_id,stars,sentiment,date
0,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3.0,2,2016-07-25 07:31:06
1,qRhOkdYNO1URgn1WJfK1cg,59MxRhNVhU9MYndMkz0wtw,W7gSJz80DywKnPRIGjA2Bw,5.0,2,2016-07-25 07:20:23
2,ZZbpYMY4s8sVQGEU1jAuVA,59MxRhNVhU9MYndMkz0wtw,l_slvEnh4v3W8BXF1gYlcQ,5.0,2,2016-07-23 00:13:36
3,_Ub20uO1MKy4XOVPOdzpqw,lUYboGI6aFbZ0dX27pijpA,gebiRewfieSdtt17PTW6Zg,1.0,1,2017-06-28 01:04:59
4,-DjIfoNFAiT5J4kF9hXocQ,SrfDRvGKI8FQq9LCr0dQuQ,gebiRewfieSdtt17PTW6Zg,3.0,1,2017-01-14 23:31:35
...,...,...,...,...,...,...
909981,HVYhSbKGyj2R39fTDY7sGg,7KBaoiKUhdTvOsRFOMGwZw,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-08-19 02:30:16
909982,CzJMAaOokvASWgVZg8B__w,L-h5y32VWEV60QXuDPW-hg,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-09-12 05:20:37
909983,9_ztYeoSwdz7S9TW8xkDQA,03q-tEfa2aJtKhf00ZZ-hg,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-04-25 13:44:37
909984,jDeNxby0ZI5UMsZzrywedA,NIlmQ38hxTR2w6lNSzJEuQ,VnAJnVpXHOIBdg6qFJBc3g,1.0,1,2021-10-06 01:52:41
909985,rzwxu-a0JjzbGnIimpqBAg,1wx5T2GTopmtdHJZdqvWDQ,VnAJnVpXHOIBdg6qFJBc3g,4.0,0,2021-04-02 13:54:12

In [410]:
reviews_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909986 entries, 0 to 909985
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    909986 non-null  object
 1   user_id      909986 non-null  object
 2   business_id  909986 non-null  object
 3   stars        909986 non-null  float64
 4   sentiment    909986 non-null  int8
 5   date         909986 non-null  object
dtypes: float64(1), int8(1), object(4)
memory usage: 35.6+ MB

In [411]:
reviews_yelp.to_parquet('../datasets/processed/bd/10_reviews_yelp.parquet.gz', compression='gzip')

# user_yelp

In [412]:
user_yelp = pd.read_parquet('../datasets/processed/yelp/user_yelp.parquet.gz')

In [413]:
user_yelp['creation'] = user_yelp['creation'].dt.strftime('%Y-%m-%d %H:%M:%S')
user_yelp

,user_id,name,creation,review_count,influence,stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,2007-01-25 16:47:26,1,2,2.00
1,4ZaqBJqt7laPPs8xfWvr6A,Nina,2008-08-16 22:43:21,11,1,3.55
2,NIhcRW6DWvk1JQhDhXwgOQ,Lia,2005-12-30 13:47:19,9,2,3.56
3,baSDvZweZk6qLY_kHPvYzQ,Michelle,2008-02-18 01:40:04,1,1,4.00
4,rppTTi-kfF8-qyiArNemag,Helen,2006-01-24 14:33:32,19,1,3.05
...,...,...,...,...,...,...
353240,xzt22UaBjy40CHgCjJ3Fgg,Don,2009-05-19 20:42:33,1,0,5.00
353241,_K4X0IBlwDSnClxOrOdxVw,Sarah,2019-02-28 14:10:05,1,0,5.00
353242,Pt3u_iZV4Lo--4yfYsBhGg,Jordan,2013-07-13 23:58:30,1,0,5.00
353243,Q5SlTMOwyHq4PIu7Ev-GVg,John,2018-01-13 21:55:39,1,0,5.00
353244,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2020-12-19 02:32:39,1,0,5.00

In [414]:
user_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353245 entries, 0 to 353244
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       353245 non-null  object
 1   name          353245 non-null  object
 2   creation      353245 non-null  object
 3   review_count  353245 non-null  int64
 4   influence     353245 non-null  int64
 5   stars         353245 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 16.2+ MB

In [415]:
user_yelp.to_parquet('../datasets/processed/bd/3_user_yelp.parquet.gz', compression='gzip')

# yelp

In [416]:
yelp = pd.read_parquet('../datasets/processed/yelp/business_yelp.parquet.gz')
yelp.head()

,business_id,name,latitude,longitude,stars,categories,state
0,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.456320,4.09,"[vietnamese, food, restaurants, food trucks]",Florida
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.45,"[food, delis, italian, bakeries, restaurants]",Florida
2,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,28.046203,-82.505053,4.00,"[restaurants, american (new), italian]",Florida
3,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,27.960514,-82.506127,4.17,"[restaurants, pizza]",Florida
4,pJfh3Ct8iL58NZa8ta-a5w,Top Shelf Sports Lounge,28.196252,-82.380615,4.51,"[burgers, sports bars, bars, lounges, restaura...",Florida

### states

In [417]:
yelp = pd.merge(yelp, states, on='state')
yelp.drop(columns='state', inplace=True)
yelp

,business_id,name,latitude,longitude,stars,categories,state_id
0,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.456320,4.09,"[vietnamese, food, restaurants, food trucks]",1
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.45,"[food, delis, italian, bakeries, restaurants]",1
2,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,28.046203,-82.505053,4.00,"[restaurants, american (new), italian]",1
3,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,27.960514,-82.506127,4.17,"[restaurants, pizza]",1
4,pJfh3Ct8iL58NZa8ta-a5w,Top Shelf Sports Lounge,28.196252,-82.380615,4.51,"[burgers, sports bars, bars, lounges, restaura...",1
...,...,...,...,...,...,...,...
12912,Df-DdXqssj7ZeD8ypAF7Og,Crux Cafe,39.894469,-75.071001,4.00,"[cafes, restaurants]",4
12913,qjtELTt9fdIwoi_xGNN21g,Chipotle Mexican Grill,39.943481,-74.964743,2.43,"[restaurants, mexican, fast food]",4
12914,BzPTw9daJW8ToqTc7QiHFw,Taco Bell,40.210771,-74.756588,2.67,"[restaurants, tex-mex, fast food, mexican, tac...",4
12915,UBQAksw81m0sMrAd8g-ECg,El Zarape Restaurant,39.718717,-74.971143,4.00,"[restaurants, mexican]",4
12916,FBTKjIHyMk8V4frov04ClQ,Ultimate Grill & Pizza,40.250691,-74.778497,2.82,"[restaurants, pizza, mexican]",4

### Arreglamos errores

In [418]:
yelp.rename(columns={'stars': 'avg_stars'}, inplace=True)

yelp['name'] = yelp['name'].replace(r'[^a-zA-Z\s]', '', regex=True)
yelp = yelp.drop_duplicates(subset=['business_id'], keep='first')

def corregir_codificacion(texto):
    try:
        return texto.encode('latin-1').decode('utf-8', 'ignore')
    except Exception:
        return unicodedata.normalize('NFKD', texto).encode('latin-1', 'ignore').decode('utf-8', 'ignore')


# Recorre todas las columnas del DataFrame
for column in yelp.columns:
    # Intenta corregir los caracteres no codificados como UTF-8 en cada celda
    yelp[column] = yelp[column].apply(lambda x: corregir_codificacion(str(x)) if isinstance(x, str) else x)

yelp

,business_id,name,latitude,longitude,avg_stars,categories,state_id
0,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.456320,4.09,"[vietnamese, food, restaurants, food trucks]",1
1,0bPLkL0QhhPO5kt1_EXmNQ,Zios Italian Market,27.916116,-82.760461,4.45,"[food, delis, italian, bakeries, restaurants]",1
2,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,28.046203,-82.505053,4.00,"[restaurants, american (new), italian]",1
3,JgpnXv_0XhV3SfbfB50nxw,Joes Pizza,27.960514,-82.506127,4.17,"[restaurants, pizza]",1
4,pJfh3Ct8iL58NZa8ta-a5w,Top Shelf Sports Lounge,28.196252,-82.380615,4.51,"[burgers, sports bars, bars, lounges, restaura...",1
...,...,...,...,...,...,...,...
12912,Df-DdXqssj7ZeD8ypAF7Og,Crux Cafe,39.894469,-75.071001,4.00,"[cafes, restaurants]",4
12913,qjtELTt9fdIwoi_xGNN21g,Chipotle Mexican Grill,39.943481,-74.964743,2.43,"[restaurants, mexican, fast food]",4
12914,BzPTw9daJW8ToqTc7QiHFw,Taco Bell,40.210771,-74.756588,2.67,"[restaurants, tex-mex, fast food, mexican, tac...",4
12915,UBQAksw81m0sMrAd8g-ECg,El Zarape Restaurant,39.718717,-74.971143,4.00,"[restaurants, mexican]",4
12916,FBTKjIHyMk8V4frov04ClQ,Ultimate Grill Pizza,40.250691,-74.778497,2.82,"[restaurants, pizza, mexican]",4

In [419]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12917 entries, 0 to 12916
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  12917 non-null  object
 1   name         12917 non-null  object
 2   latitude     12917 non-null  float64
 3   longitude    12917 non-null  float64
 4   avg_stars    12917 non-null  float64
 5   categories   12917 non-null  object
 6   state_id     12917 non-null  int64
dtypes: float64(3), int64(1), object(3)
memory usage: 706.5+ KB

In [420]:
# yelp.drop(columns='categories', inplace=True)
# yelp.to_parquet('../datasets/processed/bd/6_business_yelp.parquet.gz', compression='gzip')

# review google

In [421]:
reviews_google = pd.read_parquet('../datasets/processed/google/reviews_google.parquet.gz')
reviews_google

,review_id,user_id,gmap_id,stars,sentiment,time,sentiment_resp,resp_date
0,0,1.089912e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-01-06 05:12:07.056,0.0,2021-01-06 05:12:07.056
1,1,1.112903e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-02-09 05:47:28.663,0.0,2021-02-09 05:47:28.663
2,2,1.126404e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,4,0,2020-03-08 05:04:42.296,0.0,2020-03-08 05:04:42.296
3,3,1.174403e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2019-03-07 05:56:56.355,0.0,2019-03-07 05:56:56.355
4,4,1.005808e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2017-05-16 05:01:41.933,0.0,2017-05-16 05:01:41.933
...,...,...,...,...,...,...,...,...
9599941,2452767,1.091054e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2016-09-01 01:03:33.962,0.0,2016-09-01 01:03:33.962
9599942,2452768,1.159805e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2017-07-26 19:09:52.414,0.0,2017-07-26 19:09:52.414
9599943,2452769,1.159471e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2015-11-16 17:06:38.468,0.0,2015-11-16 17:06:38.468
9599944,2452770,1.179236e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,3,0,2016-10-06 10:41:33.492,0.0,2016-10-06 10:41:33.492
9599945,2452771,1.170134e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,2,0,2015-06-24 18:25:59.411,0.0,2015-06-24 18:25:59.411

In [422]:
reviews_google.rename(columns={'time': 'date'}, inplace=True)
reviews_google.rename(columns={'sentiment_resp': 'resp_sentiment'}, inplace=True)

reviews_google = reviews_google[reviews_google['date'].dt.year >= 2015]
reviews_google = reviews_google[reviews_google['resp_date'].dt.year >= 2015]

reviews_google['date'] = reviews_google['date'].dt.strftime('%Y-%m-%d %H:%M:%S').str.replace('\r', '')
reviews_google['resp_date'] = reviews_google['resp_date'].dt.strftime('%Y-%m-%d %H:%M:%S').str.replace('\r', '')

reviews_google['user_id'] = reviews_google['user_id'].astype(str)
reviews_google['resp_sentiment'] = reviews_google['resp_sentiment'].astype(str)

for column in reviews_google.columns:
    # Intenta corregir los caracteres no codificados como UTF-8 en cada celda
    reviews_google[column] = reviews_google[column].apply(lambda x: corregir_codificacion(str(x)) if isinstance(x, str) else x)

In [423]:
reviews_google

,review_id,user_id,gmap_id,stars,sentiment,date,resp_sentiment,resp_date
0,0,1.0899115226265579e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-01-06 05:12:07,0.0,2021-01-06 05:12:07
1,1,1.1129032221979622e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-02-09 05:47:28,0.0,2021-02-09 05:47:28
2,2,1.1264035744961195e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,4,0,2020-03-08 05:04:42,0.0,2020-03-08 05:04:42
3,3,1.1744034972382365e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2019-03-07 05:56:56,0.0,2019-03-07 05:56:56
4,4,1.0058077083612353e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2017-05-16 05:01:41,0.0,2017-05-16 05:01:41
...,...,...,...,...,...,...,...,...
9599941,2452767,1.0910540659763497e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2016-09-01 01:03:33,0.0,2016-09-01 01:03:33
9599942,2452768,1.1598048245262603e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2017-07-26 19:09:52,0.0,2017-07-26 19:09:52
9599943,2452769,1.159471047965541e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2015-11-16 17:06:38,0.0,2015-11-16 17:06:38
9599944,2452770,1.1792358760866297e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,3,0,2016-10-06 10:41:33,0.0,2016-10-06 10:41:33
9599945,2452771,1.170133647031647e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,2,0,2015-06-24 18:25:59,0.0,2015-06-24 18:25:59

In [424]:
reviews_google.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2430142 entries, 0 to 9599945
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   review_id       int64
 1   user_id         object
 2   gmap_id         object
 3   stars           int64
 4   sentiment       int64
 5   date            object
 6   resp_sentiment  object
 7   resp_date       object
dtypes: int64(3), object(5)
memory usage: 166.9+ MB

In [425]:
reviews_google.to_parquet('../datasets/processed/bd/9_reviews_google.parquet.gz', compression='gzip')

# google

In [426]:
google = pd.read_parquet('../datasets/processed/google/business_google.parquet.gz')
google.head()

,gmap_id,name,latitude,longitude,stars,categories,state
0,0x88d9ba5d65937567:0xbc27649cf513cc89,Bachata Rosa,25.848173,-80.299773,3.6,[restaurant],Florida
1,0x88d900575f0dd065:0x9b3638d2a80be4d,Zampini's Bottega,26.116549,-80.138561,4.7,[restaurant],Florida
2,0x88d9b719170a9f61:0x30d454a980f76ad3,Choices Cafe,25.779837,-80.239103,4.6,[restaurant],Florida
3,0x88e76652cd84272f:0x548abb9935d912ff,Subway,28.537201,-81.208736,4.0,"[sandwich shop, caterer, fast food restaurant,...",Florida
4,0x88d9b395c6179c89:0x914b0aafb453b3b5,Biscayne Backyard Barbecue,25.877904,-80.168434,3.9,[restaurant],Florida

In [427]:
google = pd.merge(google, states, on='state')
google.rename(columns={'stars': 'avg_stars'}, inplace=True)
google = google.drop_duplicates(subset=['gmap_id'], keep='first')
google['name'] = google['name'].replace(r'[^a-zA-Z\s]', '', regex=True)

# Eliminamos restaurants que no tienen review
google = google.merge(reviews_google[['gmap_id']].drop_duplicates(), on='gmap_id', how='inner')

for column in google.columns:
    # Intenta corregir los caracteres no codificados como UTF-8 en cada celda
    google[column] = google[column].apply(lambda x: corregir_codificacion(str(x)) if isinstance(x, str) else x)

In [428]:
google

,gmap_id,name,latitude,longitude,avg_stars,categories,state,state_id
0,0x88d9ba5d65937567:0xbc27649cf513cc89,Bachata Rosa,25.848173,-80.299773,3.6,[restaurant],Florida,1
1,0x88d900575f0dd065:0x9b3638d2a80be4d,Zampinis Bottega,26.116549,-80.138561,4.7,[restaurant],Florida,1
2,0x88d9b719170a9f61:0x30d454a980f76ad3,Choices Cafe,25.779837,-80.239103,4.6,[restaurant],Florida,1
3,0x88e76652cd84272f:0x548abb9935d912ff,Subway,28.537201,-81.208736,4.0,"[sandwich shop, caterer, fast food restaurant,...",Florida,1
4,0x88d9b395c6179c89:0x914b0aafb453b3b5,Biscayne Backyard Barbecue,25.877904,-80.168434,3.9,[restaurant],Florida,1
...,...,...,...,...,...,...,...,...
24750,0x89c3b3a602b2fe29:0x35912eea537f1d13,Polmart,40.627265,-74.269879,4.4,"[deli, european restaurant]",New Jersey,4
24751,0x89c3b2b8e9c8c357:0xb1b07826ef85a598,Park View Tavern,40.653743,-74.234148,4.3,"[bar, italian restaurant, pub, restaurant]",New Jersey,4
24752,0x89c24d60acc3ffff:0xc8048546518281f6,The Brown Derby Cafe Rental Hall,40.661250,-74.193971,4.6,"[restaurant, family restaurant]",New Jersey,4
24753,0x89c24d7a198a3541:0x3dcb8f429c053248,Georges Lunch,40.654865,-74.177221,4.5,[american restaurant],New Jersey,4
24754,0x89c3b290dcc12d6d:0x34ad59938efed577,Las Brasas Sports Bar and Restaurant,40.661939,-74.248363,3.9,"[latin american restaurant, mexican restaurant...",New Jersey,4

# user google

In [429]:
user_google = pd.read_parquet('../datasets/processed/google/user_google.parquet.gz')
user_google

,user_id,review_count,name,rating,creation
0,1.0000002062325418e+20,8,Zachary Kular,4.88,2017-06-28 13:42:47.260
1,1.0000002688865549e+20,4,Mike N,4.50,2016-11-23 21:40:59.476
2,1.0000002950878108e+20,2,Barbara Silver,5.00,2018-08-09 00:22:10.966
3,1.0000002997950821e+20,2,Raychel Perez,4.50,2019-05-05 22:48:37.534
4,1.0000004219056932e+20,2,Granada George,4.00,2018-05-24 01:21:28.222
...,...,...,...,...,...
1363227,1.184466950601662e+20,1,Earlene Thompson,5.00,2019-02-06 06:29:17.113
1363228,1.1844671355725932e+20,1,Molly Morrison,5.00,2017-10-16 10:57:28.744
1363229,1.1844671817234827e+20,1,Neda Vines,5.00,2020-06-28 15:53:52.852
1363230,1.1844672254045615e+20,1,Dave,5.00,2020-01-27 17:53:22.453
1363231,1.1844674245531261e+20,1,CD MACK,3.00,2019-05-05 00:09:22.861

In [430]:
user_google['creation'] = user_google['creation'].dt.strftime('%Y-%m-%d %H:%M:%S')
user_google.rename(columns={'rating': 'stars'}, inplace=True)
user_google.drop_duplicates(inplace=True)
user_google['user_id'] = user_google['user_id'].astype(str)
user_google['name'] = user_google['name'].replace(r'[^a-zA-Z\s]', '', regex=True)

user_google = user_google.merge(reviews_google[['user_id']].drop_duplicates(), on='user_id', how='inner')

for column in user_google.columns:
    # Intenta corregir los caracteres no codificados como UTF-8 en cada celda
    user_google[column] = user_google[column].apply(lambda x: corregir_codificacion(str(x)) if isinstance(x, str) else x)

user_google = user_google[['user_id','name','creation','review_count','stars']]

In [431]:
user_google

,user_id,name,creation,review_count,stars
0,1.0000002062325418e+20,Zachary Kular,2017-06-28 13:42:47,8,4.88
1,1.0000002688865549e+20,Mike N,2016-11-23 21:40:59,4,4.50
2,1.0000002950878108e+20,Barbara Silver,2018-08-09 00:22:10,2,5.00
3,1.0000002997950821e+20,Raychel Perez,2019-05-05 22:48:37,2,4.50
4,1.0000004219056932e+20,Granada George,2018-05-24 01:21:28,2,4.00
...,...,...,...,...,...
1360614,1.184466950601662e+20,Earlene Thompson,2019-02-06 06:29:17,1,5.00
1360615,1.1844671355725932e+20,Molly Morrison,2017-10-16 10:57:28,1,5.00
1360616,1.1844671817234827e+20,Neda Vines,2020-06-28 15:53:52,1,5.00
1360617,1.1844672254045615e+20,Dave,2020-01-27 17:53:22,1,5.00
1360618,1.1844674245531261e+20,CD MACK,2019-05-05 00:09:22,1,3.00

In [432]:
user_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360619 entries, 0 to 1360618
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   user_id       1360619 non-null  object
 1   name          1360618 non-null  object
 2   creation      1360619 non-null  object
 3   review_count  1360619 non-null  int64
 4   stars         1360619 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 51.9+ MB

In [433]:
user_google.to_parquet('../datasets/processed/bd/4_user_google.parquet.gz', compression='gzip')

# categories

Seleccionamos las categorias existentes en ambos datasets

In [434]:
listaCategorias = []
for categorias in google['categories']:
    for categoria in categorias:
        if categoria not in listaCategorias:
            listaCategorias.append(categoria)

In [435]:
for categorias in yelp['categories']:
    for categoria in categorias:
        if categoria not in listaCategorias:
            listaCategorias.append(categoria)

In [436]:
categories = pd.DataFrame()
categories['name'] = listaCategorias
categories.reset_index(names = 'categories_id', inplace= True)

In [437]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   categories_id  1297 non-null   int64
 1   name           1297 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.4+ KB

In [438]:
categories

      categories_id                    name
0                 0              restaurant
1                 1           sandwich shop
2                 2                 caterer
3                 3    fast food restaurant
4                 4      takeout restaurant
...             ...                     ...
1292           1292       botanical gardens
1293           1293  newspapers & magazines
1294           1294                 parking
1295           1295                georgian
1296           1296              rest stops

[1297 rows x 2 columns]

# categories_google y categories_yelp

In [439]:
categories_google = google[['gmap_id','categories']].explode('categories')
categories_yelp = yelp[['business_id','categories']].explode('categories')

In [440]:
def corregir_codificacion(texto):
    try:
        return texto.encode('latin-1').decode('utf-8', 'ignore')
    except Exception:
        return unicodedata.normalize('NFKD', texto).encode('latin-1', 'ignore').decode('utf-8', 'ignore')

In [441]:
categories_google = categories_google.merge(categories, left_on='categories', right_on='name')
categories_google.drop(columns=['categories', 'name'], inplace=True)

# Recorre todas las columnas del DataFrame
for column in categories_google.columns:
    # Intenta corregir los caracteres no codificados como UTF-8 en cada celda
    categories_google[column] = categories_google[column].apply(lambda x: corregir_codificacion(str(x)) if isinstance(x, str) else x)


categories_yelp = categories_yelp.merge(categories, left_on='categories', right_on='name')
categories_yelp.drop(columns=['categories', 'name'], inplace=True)

# Recorre todas las columnas del DataFrame
for column in categories_yelp.columns:
    # Intenta corregir los caracteres no codificados como UTF-8 en cada celda
    categories_yelp[column] = categories_yelp[column].apply(lambda x: corregir_codificacion(str(x)) if isinstance(x, str) else x)

In [442]:
categories_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70307 entries, 0 to 70306
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gmap_id        70307 non-null  object
 1   categories_id  70307 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [443]:
categories_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61869 entries, 0 to 61868
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business_id    61869 non-null  object
 1   categories_id  61869 non-null  int64
dtypes: int64(1), object(1)
memory usage: 966.8+ KB

In [444]:
categories_google.to_parquet('../datasets/processed/bd/7_categories_google.parquet.gz', compression='gzip')
categories_yelp.to_parquet('../datasets/processed/bd/8_categories_yelp.parquet.gz', compression='gzip')

In [445]:
# Aplicar strip() a la columna 'name' para eliminar espacios en blanco adicionales
categories['name'] = categories['name'].str.strip()

# Convertir la columna 'name' a minúsculas para uniformizar los datos
categories['name'] = categories['name'].str.lower()

# Eliminar las filas duplicadas basadas en la columna 'name'
categories.drop_duplicates(subset=['name'], keep='first', inplace=True)

categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   categories_id  1297 non-null   int64
 1   name           1297 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.4+ KB

In [446]:
categories.to_parquet('../datasets/processed/bd/2_categories.parquet.gz', compression='gzip')

In [447]:
yelp.drop(columns='categories', inplace=True)
yelp.to_parquet('../datasets/processed/bd/6_business_yelp.parquet.gz', compression='gzip')

In [448]:
google.drop(columns=['state','categories'], inplace=True)
google.to_parquet('../datasets/processed/bd/5_business_google.parquet.gz', compression='gzip')