In [145]:
import pandas as pd

In [146]:
revi = pd.read_parquet(r'..\datasets\processed\google\reviews_google.parquet.gz')

revi['resp_date'] = revi['resp_date'].fillna(revi['time'])

revi['time'] = pd.to_datetime(revi['time'])  # Convertir a tipo de dato de fecha

revi['resp_date'] = pd.to_datetime(revi['resp_date'])

# Filtrar filas a partir de 2014
revi = revi[revi['time'].dt.year >= 2014]

revi = revi[revi['resp_date'].dt.year >= 2014]

# Mostrar el DataFrame filtrado
revi

,review_id,user_id,gmap_id,stars,sentiment,time,sentiment_resp,resp_date
0,0,1.089912e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-01-06 05:12:07.056,0.0,2021-01-06 05:12:07.056
1,1,1.112903e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-02-09 05:47:28.663,0.0,2021-02-09 05:47:28.663
2,2,1.126404e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,4,0,2020-03-08 05:04:42.296,0.0,2020-03-08 05:04:42.296
3,3,1.174403e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2019-03-07 05:56:56.355,0.0,2019-03-07 05:56:56.355
4,4,1.005808e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2017-05-16 05:01:41.933,0.0,2017-05-16 05:01:41.933
...,...,...,...,...,...,...,...,...
9599941,2452767,1.091054e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2016-09-01 01:03:33.962,0.0,2016-09-01 01:03:33.962
9599942,2452768,1.159805e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2017-07-26 19:09:52.414,0.0,2017-07-26 19:09:52.414
9599943,2452769,1.159471e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2015-11-16 17:06:38.468,0.0,2015-11-16 17:06:38.468
9599944,2452770,1.179236e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,3,0,2016-10-06 10:41:33.492,0.0,2016-10-06 10:41:33.492
9599945,2452771,1.170134e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,2,0,2015-06-24 18:25:59.411,0.0,2015-06-24 18:25:59.411

In [147]:
revi['user_id'] = revi['user_id'].astype(str)

In [148]:
df_users = revi.copy()

In [149]:
df_users.head(1)

,review_id,user_id,gmap_id,stars,sentiment,time,sentiment_resp,resp_date
0,0,1.0899115226265579e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-01-06 05:12:07.056,0.0,2021-01-06 05:12:07.056

In [150]:
# Convertir la columna 'time' a tipo datetime
df_users['time'] = pd.to_datetime(df_users['time'])

# Agrupar por usuario (user_id) y obtener el valor mÃ¡s antiguo de 'time' en cada grupo
df_creation = df_users.groupby('user_id')['time'].min().reset_index(name='creation')

# Eliminar las milÃ©simas de segundo de la columna 'time'
df_users['time'] = df_users['time'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [151]:
df_users

,review_id,user_id,gmap_id,stars,sentiment,time,sentiment_resp,resp_date
0,0,1.0899115226265579e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-01-06 05:12:07,0.0,2021-01-06 05:12:07.056
1,1,1.1129032221979622e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2021-02-09 05:47:28,0.0,2021-02-09 05:47:28.663
2,2,1.1264035744961195e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,4,0,2020-03-08 05:04:42,0.0,2020-03-08 05:04:42.296
3,3,1.1744034972382365e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2019-03-07 05:56:56,0.0,2019-03-07 05:56:56.355
4,4,1.0058077083612353e+20,0x80c2c778e3b73d33:0xbdc58662a4a97d49,5,2,2017-05-16 05:01:41,0.0,2017-05-16 05:01:41.933
...,...,...,...,...,...,...,...,...
9599941,2452767,1.0910540659763497e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2016-09-01 01:03:33,0.0,2016-09-01 01:03:33.962
9599942,2452768,1.1598048245262603e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2017-07-26 19:09:52,0.0,2017-07-26 19:09:52.414
9599943,2452769,1.159471047965541e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,4,0,2015-11-16 17:06:38,0.0,2015-11-16 17:06:38.468
9599944,2452770,1.1792358760866297e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,3,0,2016-10-06 10:41:33,0.0,2016-10-06 10:41:33.492
9599945,2452771,1.170133647031647e+20,0x880fce33edd16c7b:0x44e066027b82ad8d,2,0,2015-06-24 18:25:59,0.0,2015-06-24 18:25:59.411

In [152]:
df_creation

                        user_id                creation
0        1.0000002062325418e+20 2017-06-28 13:42:47.260
1        1.0000002688865549e+20 2016-11-23 21:40:59.476
2        1.0000002950878108e+20 2018-08-09 00:22:10.966
3        1.0000002997950821e+20 2019-05-05 22:48:37.534
4        1.0000004219056932e+20 2018-05-24 01:21:28.222
...                         ...                     ...
1363227   1.184466950601662e+20 2019-02-06 06:29:17.113
1363228  1.1844671355725932e+20 2017-10-16 10:57:28.744
1363229  1.1844671817234827e+20 2020-06-28 15:53:52.852
1363230  1.1844672254045615e+20 2020-01-27 17:53:22.453
1363231  1.1844674245531261e+20 2019-05-05 00:09:22.861

[1363232 rows x 2 columns]

In [153]:
# Agrupar por usuario y calcular el promedio de rating
df_avg_rating = df_users.groupby('user_id')['stars'].mean().reset_index().round(2)

df_avg_rating.rename(columns={'stars': 'rating'}, inplace=True)

df_avg_rating.dropna(inplace=True)

df_avg_rating

# Renombrar la columna resultante como 'stars'
#df_avg_rating = df_avg_rating.rename(columns={'rating': 'stars'})

                        user_id  rating
0        1.0000002062325418e+20    4.88
1        1.0000002688865549e+20    4.50
2        1.0000002950878108e+20    5.00
3        1.0000002997950821e+20    4.50
4        1.0000004219056932e+20    4.00
...                         ...     ...
1363227   1.184466950601662e+20    5.00
1363228  1.1844671355725932e+20    5.00
1363229  1.1844671817234827e+20    5.00
1363230  1.1844672254045615e+20    5.00
1363231  1.1844674245531261e+20    3.00

[1363232 rows x 2 columns]

In [154]:
# Eliminamos usuarios duplicados
users = df_users['user_id'].unique()

# Unir el resultado con el dataframe original
df_users = df_users.merge(df_creation, on='user_id', how='left')

df_users = pd.merge(df_users, df_avg_rating, on='user_id', how='left')

In [155]:
df_users['rating'] = df_users['rating'].fillna(df_users['stars'])

In [156]:
# Agrupar, contar por usuario
df_users_rev = df_users.groupby('user_id').size().reset_index(name='review_count')

In [157]:
df_users_rev

                        user_id  review_count
0        1.0000002062325418e+20             8
1        1.0000002688865549e+20             4
2        1.0000002950878108e+20             2
3        1.0000002997950821e+20             2
4        1.0000004219056932e+20             2
...                         ...           ...
1363227   1.184466950601662e+20             1
1363228  1.1844671355725932e+20             1
1363229  1.1844671817234827e+20             1
1363230  1.1844672254045615e+20             1
1363231  1.1844674245531261e+20             1

[1363232 rows x 2 columns]

In [ ]:
#df_users.to_parquet(r'..\datasets\processed\google\user_google.parquet.gz', compression = 'gzip', index=False)

In [ ]:
lolo = pd.read_parquet(r'..\datasets\processed\bd\4_user_google.parquet.gz')

name = lolo[['user_id','name']]

name

                        user_id              name
0        1.0000002062325418e+20     Zachary Kular
1        1.0000002688865549e+20            Mike N
2        1.0000002950878108e+20    Barbara Silver
3        1.0000002997950821e+20     Raychel Perez
4        1.0000004219056932e+20    Granada George
...                         ...               ...
1368649   1.184466950601662e+20  Earlene Thompson
1368650  1.1844671355725932e+20    Molly Morrison
1368651  1.1844671817234827e+20        Neda Vines
1368652  1.1844672254045615e+20              Dave
1368653  1.1844674245531261e+20           CD MACK

[1368654 rows x 2 columns]

In [ ]:
name['user_id'] = name['user_id'].astype(int)

In [ ]:
df_avg_rating['user_id'] = df_avg_rating['user_id'].astype(int)

In [161]:

primero = df_users_rev.merge(name, on='user_id', how='left')

segundo = primero.merge(df_avg_rating, on='user_id', how='left')

                        user_id  review_count              name  rating
0        1.0000002062325418e+20             8     Zachary Kular    4.88
1        1.0000002688865549e+20             4            Mike N    4.50
2        1.0000002950878108e+20             2    Barbara Silver    5.00
3        1.0000002997950821e+20             2     Raychel Perez    4.50
4        1.0000004219056932e+20             2    Granada George    4.00
...                         ...           ...               ...     ...
1363227   1.184466950601662e+20             1  Earlene Thompson    5.00
1363228  1.1844671355725932e+20             1    Molly Morrison    5.00
1363229  1.1844671817234827e+20             1        Neda Vines    5.00
1363230  1.1844672254045615e+20             1              Dave    5.00
1363231  1.1844674245531261e+20             1           CD MACK    3.00

[1363232 rows x 4 columns]

In [162]:


tercero = segundo.merge(df_creation, on='user_id', how='left')

tercero

,user_id,review_count,name,rating,creation
0,1.0000002062325418e+20,8,Zachary Kular,4.88,2017-06-28 13:42:47.260
1,1.0000002688865549e+20,4,Mike N,4.50,2016-11-23 21:40:59.476
2,1.0000002950878108e+20,2,Barbara Silver,5.00,2018-08-09 00:22:10.966
3,1.0000002997950821e+20,2,Raychel Perez,4.50,2019-05-05 22:48:37.534
4,1.0000004219056932e+20,2,Granada George,4.00,2018-05-24 01:21:28.222
...,...,...,...,...,...
1363227,1.184466950601662e+20,1,Earlene Thompson,5.00,2019-02-06 06:29:17.113
1363228,1.1844671355725932e+20,1,Molly Morrison,5.00,2017-10-16 10:57:28.744
1363229,1.1844671817234827e+20,1,Neda Vines,5.00,2020-06-28 15:53:52.852
1363230,1.1844672254045615e+20,1,Dave,5.00,2020-01-27 17:53:22.453
1363231,1.1844674245531261e+20,1,CD MACK,3.00,2019-05-05 00:09:22.861

In [163]:

tercero.to_parquet(r'..\datasets\processed\google\user_google_nuevo.parquet.gz', compression = 'gzip')