In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
estados = ['California','New_Jersey', 'Florida', 'Illinois'] # Datasets usados para el estudio

In [3]:
ruta_google = '../datasets/row/Google Maps' # Ruta en maps de Google

In [4]:
metadata_google = pd.read_csv('../datasets/row/Google Maps/all_in_one_limpio.csv.gz',compression='gzip') # metadata google

In [6]:

review_California = pd.read_parquet(f'{ruta_google}/reviews-estados/review-California/all_California.parquet')
review_New_Jersey = pd.read_parquet(f'{ruta_google}/reviews-estados/review-New_Jersey/all_New_Jersey.parquet')
review_Florida = pd.read_parquet(f'{ruta_google}/reviews-estados/review-Florida/all_Florida.parquet')
review_Illinois = pd.read_parquet(f'{ruta_google}/reviews-estados/review-Illinois/all_Illinois.parquet')

In [56]:
review_California['user_id'].value_counts()

user_id
1.033885e+20    307
1.077740e+20    144
1.030183e+20    130
1.119374e+20    130
1.150273e+20    125
               ...
1.018543e+20      1
1.018300e+20      1
1.125323e+20      1
1.144353e+20      1
1.122199e+20      1
Name: count, Length: 973518, dtype: int64

Borro las filas donde user_id time y gmap_id esten duplicados

In [ ]:
review_California.drop_duplicates(subset=['user_id','time','gmap_id'],inplace=True)

In [14]:
review_California['year'] = review_California['time'].dt.year
userAño_California = review_California.groupby('year')['user_id'].count().reset_index()

In [58]:
df_full = pd.merge(review_California,metadata_google,on='gmap_id',how='inner')
df_full['Estado_Perteneciente'].value_counts()

Estado_Perteneciente
California    2636131
Arizona           699
Iowa               14
Name: count, dtype: int64

In [4]:
'California' in estados

True

Al buscar las corrdenadas en maps de los lugares donde el state no era California, vi que si perecen a los lugares que estan en metadata-sitios, por esto hay que modificar las review, en este caso como estas dos no son usadas simplemente no las tomo.<br>
Y en reviews, voy a liminar los que no pertenzcan a ese estado.

In [61]:
df_full = df_full[df_full['Estado_Perteneciente'] == 'California']

In [63]:
review_California = review_California[review_California['gmap_id'].isin(df_full['gmap_id'])]

,user_id,name,time,rating,text,pics,gmap_id,resp_time,resp_text,year
0,1.089912e+20,Song Ro,2021-01-06 05:12:07.056,5,Love there korean rice cake.,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,2021
1,1.112903e+20,Rafa Robles,2021-02-09 05:47:28.663,5,Good very good,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,2021
2,1.126404e+20,David Han,2020-03-08 05:04:42.296,4,They make Korean traditional food very properly.,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,2020
3,1.174403e+20,Anthony Kim,2019-03-07 05:56:56.355,5,Short ribs are very delicious.,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,2019
4,1.005808e+20,Mario Marzouk,2017-05-16 05:01:41.933,5,Great food and prices the portions are large,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaT,None,2017
...,...,...,...,...,...,...,...,...,...,...
2699995,1.113423e+20,Byunguk Kim,2019-11-10 05:11:14.409,5,None,None,0x80c2bea30829f279:0x39aa953ee93734ed,NaT,None,2019
2699996,1.080818e+20,Ceveda Craytonhooks,2020-02-02 02:00:53.411,5,Beautiful salon. The staff and atmosphere were...,None,0x8094675073616747:0x9f935a9b9046a9ba,NaT,None,2020
2699997,1.175914e+20,Natacha Thompson,2018-06-10 02:30:06.165,5,Flo is a great beautician. She is very patie...,[{'url': ['https://lh5.googleusercontent.com/p...,0x8094675073616747:0x9f935a9b9046a9ba,2018-06-10 02:48:52.831000064,Thank you! It was my pleasure to give you exa...,2018
2699998,1.124266e+20,Eleanor Aikins,2019-02-26 17:49:39.295,5,I Been going to have a variety of hair style a...,None,0x8094675073616747:0x9f935a9b9046a9ba,NaT,None,2019
2699999,1.122199e+20,Thai Love,2019-03-29 17:28:05.978,5,Teri is awesome she is a dread loc master. She...,None,0x8094675073616747:0x9f935a9b9046a9ba,NaT,None,2019