In [ ]:
import pandas as pd
import os

# Google Maps

In [ ]:
#lista con nombre de los estados
estados = []
ruta = './datasets/Google Maps/reviews-estados'
for estado in os.listdir(ruta):
        estado_path = os.path.join(ruta, estado)
        
        if os.path.isdir(estado_path) and estado.startswith('review-'):
            nombre_estado = estado[len('review-'):]
            estados.append(nombre_estado)

In [ ]:
# Funcion para leer todos los json de uina carpeta y unirlos en un datafram
def read_all_json(folder_ruth):
    dataframes = []
    for archivo_json in os.listdir(folder_ruth):
        if archivo_json.endswith('.json'):
            # Construye la ruta completa del archivo JSON
            ruta_archivo_json = os.path.join(folder_ruth, archivo_json)
            
            # Lee el archivo JSON en un DataFrame
            df = pd.read_json(ruta_archivo_json,lines=True)
            
            # Agrega el DataFrame a la lista
            dataframes.append(df)

    # Concatena todos los DataFrames en uno solo
    return pd.concat(dataframes, ignore_index=True)

In [17]:
# Extraer la fecha del diccionario
def extraer_resp_time(diccionario):
    if diccionario is not None:
        return diccionario['time']
    else:
        return None

# Funci√≥n para extraer 'resp_text'
def extraer_resp_text(diccionario):
    if diccionario is not None:
        return diccionario['text']
    else:
        return None
    
#Trasnformo los foramtos de time y extraigo time y text de resp
def format_time(df):
    df['time'] =  pd.to_datetime(df['time'], unit='ms')
    df['resp_time'] = df['resp'].apply(extraer_resp_time)
    df['resp_time'] = pd.to_datetime(df['resp_time'], unit='ms')
    df['resp_text'] = df['resp'].apply(extraer_resp_text)
    df['resp_text'] = df['resp'].apply(extraer_resp_text)
    df.drop(columns=['resp'],inplace=True)

In [31]:
#Concateno los json de cada estado en uno solo y lo exporto a parquet
for estado in estados:
    rutas = f'{ruta}/review-{estado}'
    df = read_all_json(rutas)
    format_time(df)
    df.to_parquet(f'./{rutas}/all_{estado}.parquet',index=False)

## Alabama

In [32]:
df_Alabama = pd.read_parquet('./datasets/Google Maps/reviews-estados/review-Alabama/all_Alabama.parquet')

In [33]:
df_Alabama.sample(5)

,user_id,name,time,rating,text,pics,gmap_id,resp_time,resp_text
1020741,1.044122e+20,Cassandra Nicole Brown,2018-03-19 14:30:13.180,5,None,None,0x8887e3b40fb9faed:0xceb828ae2ee8bc98,NaT,None
1376417,1.143149e+20,Sandra Stamps,2019-04-15 10:06:39.586,4,clean and friendly it was my first time there....,None,0x888a4caeb3b260ad:0x45eddfd0536fd89f,NaT,None
841939,1.031659e+20,Christopher Felts,2021-05-07 21:20:37.236,5,Sheryl did exactly what I asked,None,0x8889276bc79e5b8d:0x592a9a0ea720206b,NaT,None
33830,1.123377e+20,Sundara Owens,2019-06-17 20:29:46.219,5,The property is clean. Very professional. Kier...,None,0x8889194bfb4ad025:0x9f0c37dca3a69acd,2019-06-18 18:20:29.371000064,"Hi Sundara, thank you for your review! We're s..."
412143,1.006235e+20,Sheila C,2017-12-30 20:27:41.067,5,None,None,0x888911afe9d9bafb:0xbca3d7e40c3a19c3,NaT,None

In [ ]:
# Doy formato a las columnas time y resp
format_time(df_Alabama)

In [ ]:
df_Alabama.sample(3)