In [1]:
import pandas as pd

In [4]:
yelp = pd.read_json(r'datasets\Google Maps\metadata-sitios\resultado_final_bussiness_yelp.json.gz')

In [5]:
yelp

,business_id,name,latitude,longitude,stars,categories,Estado_Perteneciente
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,39.955505,-75.155564,4.0,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",New Jersey
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,38.565165,-90.321087,3.0,"Pubs, Restaurants, Italian, Bars, American (Tr...",Illinois
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,27.955269,-82.456320,4.0,"Vietnamese, Food, Restaurants, Food Trucks",Florida
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,27.916116,-82.760461,4.5,"Food, Delis, Italian, Bakeries, Restaurants",Florida
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,39.953949,-75.143226,4.0,"Sushi Bars, Restaurants, Japanese",New Jersey
...,...,...,...,...,...,...,...
150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,40.032483,-75.214430,3.0,"Restaurants, Specialty Food, Food, Sandwiches,...",New Jersey
150319,8n93L-ilMAsvwUatarykSg,Kitchen Gia,39.951018,-75.198240,3.0,"Coffee & Tea, Food, Sandwiches, American (Trad...",New Jersey
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,39.925656,-75.310344,3.0,"Restaurants, Sandwiches, Convenience Stores, C...",New Jersey
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,39.935982,-75.158665,4.5,"Restaurants, Mexican",New Jersey
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,39.856185,-75.427725,4.5,"Restaurants, Comfort Food, Food, Food Trucks, ...",New Jersey

In [6]:
google = pd.read_json(r'datasets\Google Maps\metadata-sitios\estados_seleccionados_restaurantes.json.gz')

In [7]:
google

,gmap_id,latitude,longitude,category,avg_rating,Estado_Perteneciente,name
2,0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,['Korean restaurant'],4.4,California,San Soo Dang
6,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,33.916402,-118.010855,['Restaurant'],4.5,California,Vons Chicken
67,0x89c6c89efcaed69d:0xded973f6033e7dba,39.940293,-75.150923,['Restaurant'],4.0,New Jersey,Vivi Bubble Tea
111,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,26.641377,-81.940545,['Restaurant'],5.0,Florida,Cape Seafood Shack
112,0x88c2e4e34f1ed783:0x76c5da381c499d79,27.867489,-82.702971,['Buffet restaurant'],5.0,Florida,Fresh Point Country Buffet
...,...,...,...,...,...,...,...
2970302,0x88d9b3cd3f274101:0x64335c60e4e3065e,25.848295,-80.174799,['German restaurant' 'Bar' 'Restaurant'],4.3,Florida,Royal Bavarian Schnitzel Haus
2970307,0x88e6d78a11694343:0xaed512a21b391dcd,29.142263,-80.986379,['Pizza restaurant'],4.4,Florida,Panheads Pizzeria
2970335,0x88d9dd6e78851851:0x849dcf273582261c,25.506121,-80.438215,['Sandwich shop' 'Fast food restaurant' 'Takeo...,4.3,Florida,Subpreme Grill
2970336,0x89c6c4072624d2a9:0x4437b2d55e9a5811,39.923594,-75.245269,['Coffee shop' 'Bagel shop' 'Bakery' 'Breakfas...,4.0,New Jersey,Dunkin'
2970361,0x89c6c74f43a49b55:0x6be6995921c58b12,39.947254,-75.164953,['Steak house' 'Fine dining restaurant' 'Seafo...,4.6,New Jersey,Steak 48

In [9]:
all = pd.read_parquet(r'datasets\Google Maps\metadata-sitios\all_in_one_limpio_dummies-1.parquet')

In [10]:
all

,name,gmap_id,latitude,longitude,category,avg_rating,Estado_Perteneciente,Restaurant,Auto repair shop,Gas station,...,Beauty salon,Convenience store,Church,Hair salon,Nail salon,ATM,Park,Doctor,Clothing store,Dentist
0,Porter Pharmacy,0x88f16e41928ff687:0x883dad4fd048e8f8,32.388300,-83.357100,['Pharmacy'],4.9,Georgia,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,City Textile,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,34.018891,-118.215290,['Textile exporter'],4.5,California,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,San Soo Dang,0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,['Korean restaurant'],4.4,California,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Nova Fabrics,0x80c2c89923b27a41:0x32041559418d447,34.023669,-118.232930,['Fabric store'],3.3,California,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Nobel Textile Co,0x80c2c632f933b073:0xc31785961fe826a6,34.036694,-118.249421,['Fabric store'],4.3,California,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2998423,Steak 48,0x89c6c74f43a49b55:0x6be6995921c58b12,39.947254,-75.164953,['Steak house' 'Fine dining restaurant' 'Seafo...,4.6,New Jersey,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2998424,"Jack Mcnerney Chevrolet, Inc.",0x89da1787d3fdc4a5:0xce92ea6e3cd4d1cc,42.788636,-76.122120,['Chevrolet dealer'],4.4,New York,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2998425,Central Ny Spay Neuter Assista,0x89da6b9ce832726f:0xbd0d3630f1e3b42e,42.603831,-76.165286,['Veterinarian'],4.3,New York,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2998426,Ok Feed Store,0x88d9e872a9e39f3d:0x5de29f50507e5d73,25.491641,-80.456076,['Animal feed store'],4.9,Florida,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2998427,Crestview Crossing,0x54956b3944b1654d:0x7797cead9a485c22,45.310254,-122.935500,['Lodging'],5.0,Oregon,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
all_otro = pd.read_csv(r'datasets\Google Maps\metadata-sitios\all_in_one_limpio.csv.gz')

In [12]:
all_otro

,gmap_id,latitude,longitude,category,avg_rating,Estado_Perteneciente,name
0,0x88f16e41928ff687:0x883dad4fd048e8f8,32.388300,-83.357100,['Pharmacy'],4.9,Georgia,Porter Pharmacy
1,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,34.018891,-118.215290,['Textile exporter'],4.5,California,City Textile
2,0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,['Korean restaurant'],4.4,California,San Soo Dang
3,0x80c2c89923b27a41:0x32041559418d447,34.023669,-118.232930,['Fabric store'],3.3,California,Nova Fabrics
4,0x80c2c632f933b073:0xc31785961fe826a6,34.036694,-118.249421,['Fabric store'],4.3,California,Nobel Textile Co
...,...,...,...,...,...,...,...
2970361,0x89c6c74f43a49b55:0x6be6995921c58b12,39.947254,-75.164953,['Steak house' 'Fine dining restaurant' 'Seafo...,4.6,New Jersey,Steak 48
2970362,0x89da1787d3fdc4a5:0xce92ea6e3cd4d1cc,42.788636,-76.122120,['Chevrolet dealer'],4.4,New York,"Jack Mcnerney Chevrolet, Inc."
2970363,0x89da6b9ce832726f:0xbd0d3630f1e3b42e,42.603831,-76.165286,['Veterinarian'],4.3,New York,Central Ny Spay Neuter Assista
2970364,0x88d9e872a9e39f3d:0x5de29f50507e5d73,25.491641,-80.456076,['Animal feed store'],4.9,Florida,Ok Feed Store
2970365,0x54956b3944b1654d:0x7797cead9a485c22,45.310254,-122.935500,['Lodging'],5.0,Oregon,Crestview Crossing

In [18]:
busi = pd.read_csv(r'datasets\yelp\business.csv.gz')

In [19]:
busi

,business_id,name,latitude,longitude,stars,categories,Estado_Perteneciente
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",34.426679,-119.711197,5.0,"Doctors, Traditional Chinese Medicine, Naturop...",California
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,38.551126,-90.335695,3.0,"Shipping Centers, Local Services, Notaries, Ma...",Illinois
2,tUFrWirKiKi_TAnsVWINQQ,Target,32.223236,-110.880452,3.5,"Department Stores, Shopping, Fashion, Home & G...",Arizona
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,39.955505,-75.155564,4.0,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",New Jersey
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,40.338183,-75.471659,4.5,"Brewpubs, Breweries, Food",New Jersey
...,...,...,...,...,...,...,...
144666,2O2K6SXPWv56amqxCECd4w,The Plum Pit,39.856185,-75.427725,4.5,"Restaurants, Comfort Food, Food, Food Trucks, ...",New Jersey
144667,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,36.115118,-86.766925,4.0,"Pets, Nurseries & Gardening, Pet Stores, Hobby...",Tennessee
144668,_QAMST-NrQobXduilWEqSw,Claire's Boutique,39.908707,-86.065088,3.5,"Shopping, Jewelry, Piercing, Toy Stores, Beaut...",Indiana
144669,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,38.782351,-89.950558,4.0,"Fitness/Exercise Equipment, Eyewear & Optician...",Illinois
144670,jV_XOycEzSlTx-65W906pg,Sic Ink,27.771002,-82.394910,4.5,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo",Florida

In [20]:
busi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144671 entries, 0 to 144670
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   business_id           144671 non-null  object
 1   name                  144671 non-null  object
 2   latitude              144671 non-null  float64
 3   longitude             144671 non-null  float64
 4   stars                 144671 non-null  float64
 5   categories            144671 non-null  object
 6   Estado_Perteneciente  144671 non-null  object
dtypes: float64(3), object(4)
memory usage: 7.7+ MB