In [ ]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
ruta_google = './datasets/Google Maps'

In [52]:
df_state = pd.read_parquet(f'{ruta_google}/reviews-estados/review-Michigan/all_Michigan.parquet')
df_state.sample(5)

,user_id,name,time,rating,text,pics,gmap_id,resp_time,resp_text
507469,1.164455e+20,KRAMER TICHA,2019-11-21 02:07:20.812,5,None,None,0x8821dba4c66cac55:0x33c50e185de68f50,NaT,None
370946,1.056870e+20,Lavinia Chirila,2018-01-10 16:06:18.688,5,None,None,0x8824e0bbc7ecd423:0x3d8a98a5b72bd167,NaT,None
2071391,1.132497e+20,Tricia DuBay,2020-07-26 19:39:12.082,1,Mask yes BUT watch out for hair!!!,[{'url': ['https://lh5.googleusercontent.com/p...,0x8824d89cca7de04f:0x89f8c3ae39c82b2a,NaT,None
1497333,1.127423e+20,Marla Daniels,2018-10-13 20:09:08.972,4,Every area has deals.,None,0x8824da6586795b19:0xc4409901f019eb69,NaT,None
386290,1.088027e+20,Pamela Truskowski,2020-02-16 16:59:05.919,5,Everything they make us perfection.,None,0x883b394833c2f7e5:0x7d4def3ebb9aff7a,NaT,None

In [43]:
metadata_google = pd.read_csv('datasets/Google Maps/metadata-sitios/all_in_one_limpio.csv.gz',compression='gzip')

In [44]:
metadata_google.sample(5)

,gmap_id,latitude,longitude,category,avg_rating,Estado_Perteneciente
1984454,0x8840845a6f763207:0xb5e63475c972e38d,39.721809,-84.151142,['African goods store'],4.6,Ohio
1420384,0x880e319cabf9a971:0xa3d3ac7ba7a1dfc4,41.807578,-87.732318,['Bar & grill' 'Bar' 'Sports bar'],4.4,Illinois
2752866,0x87528b7ab3e0859f:0xc447af127f7a8057,40.694764,-111.941536,['Grocery store' 'Supermarket'],4.6,Utah
2278873,0x8752f9d626b1fe9b:0x377a6e99e90065a9,40.835476,-111.932322,['Used car dealer' 'Car dealer'],3.7,Utah
839593,0x87b6dd2fd8470be5:0x7cf339abb8b3c6ca,36.332950,-96.100386,['Restaurant'],4.5,Oklahoma

In [74]:
rest_por_state = metadata_google[metadata_google['category'].str.contains('Restaurant')].groupby('Estado_Perteneciente')['gmap_id'].count().reset_index()

In [75]:
rest_por_state.sort_values(by='gmap_id',ascending=False)

   Estado_Perteneciente  gmap_id
4            California    14248
29           New Jersey     9627
42                Texas     9548
8               Florida     7498
31             New York     6182
12             Illinois     5881
21             Michigan     4674
19             Maryland     4339
32       North Carolina     4013
9               Georgia     4005
20        Massachusetts     3476
34                 Ohio     3397
17            Louisiana     2440
0               Alabama     2297
13              Indiana     2213
5              Colorado     2053
37         Pennsylvania     2029
45           Washington     2025
6           Connecticut     1920
22            Minnesota     1916
44             Virginia     1911
2               Arizona     1900
36               Oregon     1846
3              Arkansas     1582
35             Oklahoma     1545
16             Kentucky     1507
41            Tennessee     1398
14                 Iowa     1376
24             Missouri     1128
15               Kansas     1021
30           New Mexico      973
43                 Utah      940
11                Idaho      867
10               Hawaii      806
18                Maine      784
39       South Carolina      616
7              Delaware      442
28        New Hampshire      386
26             Nebraska      364
1                Alaska      286
23          Mississippi      282
33         North Dakota      198
47              Wyoming      197
25              Montana      178
40         South Dakota      171
46        West Virginia       74
38         Rhode Island        4
27               Nevada        2

In [39]:
business = pd.read_pickle('./datasets/Yelp/Yelp/business.pkl')
business = business.iloc[:,:14]

In [42]:
business.sample(6)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
135124,611rIC_5_z7yiJVCLJmAYw,Residence Inn by Marriott Tucson Williams Centre,5400 E Williams Cir,Tucson,PA,85711,32.219881,-110.877392,4.0,45,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Hotels, Event Planning & Services, Hotels & Tr...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
20291,RKTCND4P5dkdyjjjWtWL7g,B Squared Bar & Grill,"1430 N Green St, Ste L",Brownsburg,PA,46112,39.864365,-86.393056,3.0,18,1,"{'RestaurantsAttire': ''casual'', 'GoodForKids...","Restaurants, American (Traditional), Nightlife...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ..."
7384,7O7YHTUB3uqXHsQSLKR0SA,El Jefe Restaurant & Mexican Grill,110 Astro Shopping Ctr,Newark,PA,19711,39.706765,-75.686643,3.5,69,1,"{'Alcohol': 'u'full_bar'', 'RestaurantsTakeOut...","Nightlife, Mexican, Restaurants, Dive Bars, Bars",None
30430,iTsC7Q9Hj3gXuXFgPLPDCg,Econo Lube N'tune,8040 N Oracle Rd,Tucson,TN,85704,32.352595,-110.973972,2.5,5,0,None,"Automotive, Auto Repair",None
142691,vfWjGYCH3GZj8BKGsGFKwg,iNail Bar,2068 Sproul Rd,Broomall,FL,19008,39.967102,-75.359772,3.5,16,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Nail Salons, Beauty & Spas, Waxing, Eyelash Se...","{'Monday': '0:0-0:0', 'Tuesday': '9:30-20:0', ..."
8401,alUk6OwNhofyc90NDMDY-Q,Fabio's Chicken Restaurant Takeout,4805 N Front St,Philadelphia,PA,19120,40.023288,-75.123764,4.5,14,1,"{'HasTV': 'True', 'BusinessParking': '{'garage...","Latin American, Restaurants, Chicken Wings",None

In [76]:
business[business['state']=='TX']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
32539,R-9SytZfKWoCWm7vNdTS8g,Main Line Perinatal Associates - Bryn Mawr,"130 S Bryn Mawr Ave, 1st Fl, C-Wing, Bryn Mawr...",Bryn Mawr,TX,19010,40.019504,-75.321265,2.5,56,1,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Hospitals, Emergency Rooms, Health & Medical",None
34664,8vtUY6iWprSSHfDIctoWWQ,Focaccias,404 E Parkcenter Blvd,Boise,TX,83706,43.596157,-116.177924,4.0,8,0,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Restaurants, American (Traditional)",None
95094,fb7xvxtgAwVqxyu4As_yRQ,Thrifty Rent A Car,2001 E Plumb Ln,Reno City,TX,89502,39.505878,-119.779186,2.5,38,1,None,"Truck Rental, Parking, Hotels & Travel, Car Re...",None
97816,3tABZPOFyYgY05ADJnRT4w,Joe's Place,236 E Lancaster Ave,Wayne,TX,19087,40.043533,-75.382242,4.0,69,0,"{'RestaurantsAttire': 'u'casual'', 'GoodForKid...","Food, Sandwiches, Breakfast & Brunch, Local Fl...",None