In [2]:
import pandas as pd
from math import radians, sin, cos, sqrt, atan2
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import TfidfVectorizer
import pickle
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jonat\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

### Usando nltk para procesar las categorias, y

In [ ]:

def process_text(text):
    """
    Funcion que realiza tokeinizacion en base a un texto.

    Args:
        text (string): Palabra u oración para aplicar la tokeinizacin.

    Returns:
        str: Serie de strings.
    """
    # Aplico la teokeinizacion
    stop_words = set(stopwords.words('english'))
    ps = PorterStemmer()
    words = word_tokenize(text)
    words = [ps.stem(word.lower()) for word in words if word.isalnum() and word.lower() not in stop_words]
    return ' '.join(words)

def categories_nlp(local_categories):  
    """
    Funcion que a partir de un dataframe con categorias de columna "name" aplica la funcion *process_text*

    Args:
        local_categories (pd.DataFrame): Data frame con categorias en la columna name.

    Returns:
        TfidfVectorizer: Matriz TF-IDF represetando  la frecuencia de terminos ponderada por importancia.(necesaria para el modelo.)
    """
    
    local_categories['procceced'] = local_categories['name'].apply(process_text)

    # Si hay mas clase ademas de restaur ej: pizza restaur borra restaur, si no deja igual
    local_categories['procceced'] = local_categories['procceced'].apply(lambda x:x.replace('restaur','') if x!= 'restaur' else x)
    local_categories['procceced'] = local_categories['procceced'].astype(str)
    # Crear una matriz TF-IDF para medir la similitud del contenido
    


    # Defino pesos para las categorías
    category_weights = {'restaur': 0.01, 'food': 0.01, 'shopping': 0.2}

    # Se aplican los pesos
    local_categories['weighted_categories'] = local_categories['procceced'].apply(
        lambda x: ' '.join([str(category_weights.get(word, 1.0)) + ' ' + word for word in x.split()])
    )
    
    local_categories.to_parquet('./model/datasets/locales_categories.parquet') # Guardo el dataset util


    tfidf_vectorizer = TfidfVectorizer()
    tfidf_matrix = tfidf_vectorizer.fit_transform(local_categories['weighted_categories'])
    return tfidf_matrix

    #Proceso para normalizar las categorias

## Gnero las categorias para luego procesarlas y guardarlas

In [ ]:
#Genero un dataframe que contenga, las categorias y los negocios para yelp y google.

# Cambiar por la lectura a la BD
local_categories_google = pd.read_parquet('../processed/bd/7_categories_google.parquet.gz')

# Cambiar por la lectura a la BD
local_categories_yelp = pd.read_parquet('../processed/bd/8_categories_yelp.parquet.gz')

#Si se lee de la base de datos business_id ya esta como nombre.
local_categories_google.rename(columns={'gmap_id':'business_id'},inplace=True)
local_categories = pd.concat([local_categories_google,local_categories_yelp])

# Cambiar por la lectura a la BD
categoires = pd.read_parquet('../processed/bd/2_categories.parquet.gz')
local_categories = pd.merge(local_categories,categoires,on='categories_id',how='inner')



    
# Hago el procesamiento de las categorias con NLTK y los exporto en un pkl
categories_procceced = categories_nlp(local_categories) 
with open('./model/tfidf_matrix.pkl', 'wb') as file:
        pickle.dump(categories_procceced, file)

In [ ]:
#Modelo de recomendacion usando similitudes con vecinos cercanos


# Cargo la matriz generada del procesamiento
with open('./model/tfidf_matrix.pkl', 'rb') as file:
        tfidf_matrix = pickle.load(file)


#Defino y entreno al modelo.
knn_model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=10)
knn_model.fit(tfidf_matrix)

# Guardo el modelo en un pkl
with open('./model/modelo_knn.pkl', 'wb') as file:
    pickle.dump(knn_model, file)

FILTRO POR DISTANCIA

In [ ]:
# Funcion que calcula la distancia entre dos punto en funcion de las coordenadas
def haversine(lat1, lon1, lat2, lon2):
    
    """
    Esta funcion aplica la distancia hervesine para encontrar la distancia entre dos puntos a partir de sus coordenaadas.
    
    Args:
        lat1 (float): Latitud del primer punto.
        lon1 (float): Longitud del primer punto
        lat2 (float: Latitud del segundo punto.
        lon2 (float): Longitud del segundo punto.
        
    Returns:
        float:Distancia en metros entre dos coordeandas.
    """
    
    # Radio de la Tierra en metros
    R = 6371000.0

    # Convierte las coordenadas de grados a radianes
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])

    # Diferencia de latitud y longitud
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Fórmula haversine
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Distancia en metros
    distance = R * c

    return distance

In [ ]:
#Funcion que a partir de un id de negocio y una lista ids retorna la distancia entre ese negocio y cada uno de los demas
def distance(business_id,business_id_list,rang=None):
    
    """
    Esta funcion calcula a partir de un negocio y una lista de negocios, la distancia entre los puntos.

    Args:
        business_id(str): Id del negocio.
        business_id_list(list): Lista con id de negocios.
        rang(float,optional) : Maxima distancia(metros) sobre la cual se quiere devolver los negocios.

    Returns:
        pd.DataFrame: Data frame de los negocios tomando en cuenta las distnacias
    """
    
    if rang:
        filtro_distance = rang
    else:   
        filtro_distance = 3000000 #FIltro distancia en metros.
    #Genero un dataframe con los restaurantes de google y yelp
    
    # Cambiar por la lectura a la BD, si se lee de ahi business_id ya esta como nombre
    business_google=pd.read_parquet('../processed/bd/5_business_google.parquet.gz') 
    business_google.rename(columns={'gmap_id':'business_id'},inplace=True) 
    
    # Cambiar por la lectura a la BD
    business_yelp=pd.read_parquet('../processed/bd/6_business_yelp.parquet.gz') 
    
    # si se lee de la base de datos cambiar stars de business_yelp por avg_stars
    business = pd.concat([business_google[['business_id','name','avg_stars','latitude','longitude']],business_yelp[['business_id','name','stars','latitude','longitude']]])
    #Genero las coordenadas del local al que le quiero encontrar recomendaciones.
    lat_origin,long_origin = business[business['business_id']==business_id]['latitude'].iloc[0],business[business['business_id']==business_id]['longitude'].iloc[0]
    #Filtro solo por los restaurantes que pertenecen a las recomendaciones.
    business = business[business['business_id'].isin(business_id_list)]
    #Calculo la distancia de cada restuarante recomendado al inicial
    business['distance'] = business.apply(lambda row: haversine(lat_origin, long_origin, row['latitude'], row['longitude']), axis=1)
    #Aplico el filtro de distancia.
    business = business[business['distance']<filtro_distance]
    return business

In [ ]:
# Función para obtener recomendaciones
def get_recommendations(business_id,rang=None):
    
    """
    Funcion que a partir de un negocio, recomienda otros, en funcion de sus categorias usando el modelo KNN.
    
    Ags:
        business_id(str) : id del negocio al cual se le quieren calcular recomendaciones.
        rang(float,optional) :Rango de distancia para obtener las recomendaciones(metros).

    Returns:
        business_cat(pd.DataFrame):Data Frame con las recomendaciones junto no algunas caracteristicas del negocio.
    """
    
    # Cargo el modelo
    with open('./model/modelo_knn.pkl', 'rb') as file: 
        knn_model = pickle.load(file)
        
    with open('./model/tfidf_matrix.pkl', 'rb') as file:
        categories_procceced = pickle.load(file)
    
    ######### categories_procceced podria ser un df importado  con todos los pasos anteriores.#########
    local_categories = pd.read_parquet('./model/datasets/locales_categories.parquet')
    
    idx = local_categories[local_categories['business_id'] == business_id].index[0]
    
    
    
    #Genero las recomendaciones.
    _, indices = knn_model.kneighbors(categories_procceced[idx])
    recommendations = local_categories['business_id'].iloc[indices[0][1:]]  # Excluye el propio restaurante
    
    #Calcula las distancias entre las recomendaciones y el local.
    if rang:
        business = distance(business_id,recommendations,rang)
    else:
        business = distance(business_id,recommendations)
    #Uno las caractereisticas de los locales, con las categorias.
    business_cat = pd.merge(local_categories,business,on='business_id')
    business_cat = business_cat.groupby('business_id').agg({
        'latitude':'first',
        'longitude':'first',
        'name_x':list,
        'name_y':'first',
        'distance':'first',
        'avg_stars':'mean'
        
    }).reset_index()
        
    
    return business_cat

## FILTRO POR USUARIOS

In [ ]:
#Funcion que recibe un business id userid o categoria y recomienda locales, tambien puede agregarse el rango en metros de distancia.
def recommendation(business_ids=None,user_id=None,category=None,distance=None):
    """
    Esta funcion a partird e un negocio usuario o categoria recomienda otros negocios, teniendo en cuenta la distancia de ser requerida.
    Para esto la funcion toma un negocio, o selecciona una lista de ellos usando user_id, y categorias, y aplica la funcion *get_recommendations*

    Args:
        business_ids (str, optional): Id de un negocio.
        user_id (str, optional): Id de un usuario.
        category (str, optional): Categoria (nombre).
        distance (float, optional): Distancia en metros.

    Returns:
        pd.DataFrame: Data Frame con ñas recomendaciones y otras caracteristicas(analizar el uso de json)
    """
        
    
    if user_id:
        
        # Cambiar por la lectura a la BD
        df_rg = pd.read_parquet('../processed/bd/9_reviews_google.parquet.gz',columns=['user_id','gmap_id','sentiment'])
        df_ry = pd.read_parquet('../processed/bd/10_reviews_yelp.parquet.gz',columns=['user_id','gmap_id','sentiment'])
        df = pd.concat([df_rg,df_ry])
        business_ids = df[df['user_id']==user_id].iloc[:10]['gmap_id'].tolist()
        if business_ids.shape[0] == 0:
            return 'Usuario no encontrado.'
        
    if category:
        df_categories = pd.read_parquet('./model/datasets/locales_categories.parquet')
        business_ids = df_categories[df_categories['name'].str.lower().str.contains(category.lower())].sample(10).iloc[:10]['business_id'].tolist()
        if business_ids.shape[0] == 0:
            return 'Categoria no encontrada.'
        
    business_cat = pd.DataFrame()
    for business_id in business_ids:
        business_cat = pd.concat([business_cat,get_recommendations(business_id,rang=distance)])    
    
    if business_cat.shape[0] == 0:
        return 'Restaurante no encontrado.'
    return business_cat

In [ ]:
recommendation(category='pizza',distance=50000)

# AHORA INTENTAMOS CON WORDVEC

In [4]:
local_categories = pd.read_parquet('locales_categories.parquet')

In [ ]:
local_categories = categories_nlp(local_categories)

In [5]:
local_categories

,business_id,categories_id,business_id_int,name,procceced,weighted_categories
0,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,0,0,Restaurant,restaur,0.01 restaur
1,0x8890b9241e704667:0x3a1e565c17c00993,0,1,Restaurant,restaur,0.01 restaur
2,0x88e635378f43352f:0xa1b53c63436fa428,0,2,Restaurant,restaur,0.01 restaur
3,0x88d9b86c23bb04eb:0x2a82da546b7feb1b,0,3,Restaurant,restaur,0.01 restaur
4,0x88d9ba5d65937567:0xbc27649cf513cc89,0,4,Restaurant,restaur,0.01 restaur
...,...,...,...,...,...,...
203650,vV57YWbrHqm1iylWmIdwVA,1653,66978,Botanical Gardens,botan garden,1.0 botan 1.0 garden
203651,y7P06O7ypUgdU5fgV4s87Q,1654,58724,Newspapers & Magazines,newspap magazin,1.0 newspap 1.0 magazin
203652,jchZL8NJP9YBwgFmrSdpfQ,1655,67246,Parking,park,1.0 park
203653,9295K2aKOltQSSTpm_7DBQ,1656,67285,Georgian,georgian,1.0 georgian
203654,-46lOITML86TZkk2fErq6A,1657,67730,Rest Stops,rest stop,1.0 rest 1.0 stop

In [39]:
from gensim.models import KeyedVectors

# Ruta al archivo GoogleNews-vectors-negative300.bin
ruta_modelo = 'GoogleNews-vectors-negative300.bin'

# Cargar el modelo
modelo = KeyedVectors.load_word2vec_format(ruta_modelo, binary=True,limit=1000000)

In [7]:
def obtener_palabras_similares(palabra, modelo, topn=3):
    try:
        similares = modelo.similar_by_word(palabra, topn=topn)
        return [palabra for palabra, _ in similares]
    except KeyError:
        return []

In [8]:
print(obtener_palabras_similares('restaurant',modelo))

['eatery', 'Restaurant', 'restuarant']

In [9]:
local_categories.sample(3)

,business_id,categories_id,business_id_int,name,procceced,weighted_categories
105914,0x88d8e1c9c8080dc5:0xf4f5e1f051b47c13,68,31581,Salad shop,salad shop,1.0 salad 1.0 shop
128313,0x89c3a5a28d457877:0xee0dfae4e231de7f,161,36068,Espresso bar,espresso bar,1.0 espresso 1.0 bar
104477,0x405d74d67994de3d:0xc1793b17373587e0,61,17924,Barbecue restaurant,barbecu,1.0 barbecu

In [10]:
local_categories['processed'] = local_categories['procceced'].apply(
    lambda text: ' '.join(
        [
            ' '.join(obtener_palabras_similares(palabra.strip(), modelo))
            if palabra in text 
            else palabra 
            for palabra in text.split()
        ]
    )
)

---

In [21]:
local_categories.loc[local_categories['processed'] == '', 'processed'] = 'restaur'

In [23]:
local_categories.sample(5)

,business_id,categories_id,business_id_int,name,procceced,weighted_categories,processed
151482,3-3SDBwFGYuU0VZWmA8RfQ,1156,55224,Restaurants,restaur,0.01 restaur,restaur
138188,0x80dca8c521830e6d:0x4cfc98952d7de122,452,10112,Alternative fuel station,altern fuel station,1.0 altern 1.0 fuel 1.0 station,Fuel gasoline diesel stations Station Stations
102502,0x80dcb8720369b7cf:0x1dbb66977a3f8817,59,33895,Chicken restaurant,chicken,1.0 chicken,meat Chicken chickens
84797,0x80c287d68e390bb1:0xd43be7c975f6977e,39,37810,Deli,deli,1.0 deli,delicatessen Deli bakery
72304,0x88e779233af7fe51:0x840ab282402df8bc,32,29135,Delivery Restaurant,deliveri,1.0 deliveri,restaur

In [24]:
modelo.similar_by_word('Coffee',topn=5)

[('coffee', 0.6900455355644226),
 ('Tea', 0.6443027853965759),
 ('Coffees', 0.629867434501648),
 ('Gourmet_Coffee', 0.6235418915748596),
 ('gourmet_coffee', 0.5968417525291443)]

In [42]:



tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(local_categories['processed'])



#Defino y entreno al modelo.
knn_model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=10)
knn_model.fit(tfidf_matrix)

# Guardo el modelo en un pkl
with open('modelo_knn.pkl', 'wb') as file:
    pickle.dump(knn_model, file)

In [40]:
#Genero las recomendaciones.
_, indices = knn_model.kneighbors(tfidf_matrix[84797])
recommendations = local_categories['business_id'].iloc[indices[0][1:]]  # Excluye el propio restaurante

In [41]:
print(recommendations)

85018     0x880efba140bf6a2b:0x83643c899590e51
85025    0x880e2dc63a72f661:0xd49fd21c1ed6d294
85024    0x880e4f248c4d7a25:0x5323ab858ebfd32a
85023    0x880efba2e8c830db:0x742faaa04a40f191
85022    0x887a030cd9a6a223:0x6d791703b18def14
85021    0x880f00d88c8dbec3:0xf616e89702224d27
85020    0x880ef5cb9a727d75:0x16172aa1c3465911
85027    0x880de1aee1a27865:0xbdb01e74572feb55
85015    0x880963060418c893:0x254b0e32bbc41a80
Name: business_id, dtype: object

In [33]:
print(local_categories.iloc[84797])

business_id            0x80c287d68e390bb1:0xd43be7c975f6977e
categories_id                                             39
business_id_int                                        37810
name                                                    Deli
procceced                                               deli
weighted_categories                                 1.0 deli
processed                           delicatessen Deli bakery
Name: 84797, dtype: object

In [38]:
local_categories[local_categories['business_id']=='0x880ef5cb9a727d75:0x16172aa1c3465911']

,business_id,categories_id,business_id_int,name,procceced,weighted_categories,processed
20816,0x880ef5cb9a727d75:0x16172aa1c3465911,0,20816,Restaurant,restaur,0.01 restaur,restaur
40914,0x880ef5cb9a727d75:0x16172aa1c3465911,7,20816,Sandwich shop,sandwich shop,1.0 sandwich 1.0 shop,sandwiches burger chicken_sandwich shops store...
51580,0x880ef5cb9a727d75:0x16172aa1c3465911,9,20816,Fast food restaurant,fast food,1.0 fast 0.01 food,quick rapidly Fast foods Food foodstuffs
85020,0x880ef5cb9a727d75:0x16172aa1c3465911,39,20816,Deli,deli,1.0 deli,delicatessen Deli bakery