In [609]:
import pandas as pd

In [610]:
df = pd.read_parquet('../processed/bd/2_categories.parquet.gz')
df['name'] = df['name'].apply(lambda x: x.replace('restaurant','') if x!='restaurant' else x)

1:General <br>
2:Fast Food,<br>
3:Internacional<br>
4:Coffess y breakfast<br>
5:Bares y nocturnos

In [611]:
df['group'] = 'general'

In [612]:
df.loc[(df['name'].str.contains('caf')) | (df['name'].str.contains('cof')) | (df['name'].str.contains('brea'))| (df['name'].str.contains('tea')),'group'] = 'coffess & breakfast'

In [613]:
df[(df['name'].str.contains('bar')) & (~df['name'].str.contains('barb'))| (df['name'].str.contains('nigh')) | (df['name'].str.contains('pub'))].sample(5)

      categories_id        name    group
1104           1104  cigar bars  general
962             962   dive bars  general
106             106  sports bar  general
184             184   gastropub  general
16               16         bar  general

In [614]:
df.loc[(df['name'].str.contains('bar')) | (df['name'].str.contains('nigh')) | (df['name'].str.contains('pub')),'group'] = 'bars & nightlife'

In [615]:
df.loc[
    (df['name'].str.contains('burg') |
     df['name'].str.contains('fast') & ~df['name'].str.contains('break') |
     df['name'].str.contains('pizza') |
     df['name'].str.contains('sandw') |
     df['name'].str.contains('hot dog') |
     df['name'].str.contains('takeou')),
    'group'] = 'fast food'

In [616]:
df.loc[
    (df['name'].str.contains('suhi') |
     df['name'].str.contains('asian') |
     df['name'].str.contains('japa') |
     df['name'].str.contains('kore') |
     df['name'].str.contains('mexi') |
     df['name'].str.contains('eth') |
     df['name'].str.contains('falafel') |
     df['name'].str.contains('chilean') |
     df['name'].str.contains('mongolian') |
     df['name'].str.contains('polish') |
     df['name'].str.contains('italian') |
     df['name'].str.contains('british')),
    'group'] = 'foreign'

In [617]:
df.loc[(df['name'].str.contains('veg')),'group'] = 'veggie & veggetarian'

In [618]:
df.sample(10)

      categories_id                     name    group
326             326       golf driving range  general
378             378  russian orthodox church  general
871             871                   gelato  general
794             794      condominium complex  general
340             340                    kiosk  general
524             524                armenian   general
813             813                   french  general
1103           1103               vape shops  general
687             687                   artist  general
415             415     diesel fuel supplier  general

In [619]:
df['group'].value_counts()

group
general                 1120
bars & nightlife          65
foreign                   52
coffess & breakfast       36
fast food                 16
veggie & veggetarian       8
Name: count, dtype: int64

In [620]:
c_g = pd.read_parquet('../processed/bd/7_categories_google.parquet.gz')
c_g.rename(columns=({'gmap_id':'business_id'}),inplace=True)
c_y = pd.read_parquet('../processed/bd/8_categories_yelp.parquet.gz')
categories_business = pd.concat([c_g,c_y])
cat = pd.merge(categories_business,df,on='categories_id')
cat['name'].value_counts().head(20)

name
s                         12914
restaurant                10500
food                       3942
fast food                  3738
takeout                    3206
pizza                      2793
sandwich shop              2644
mexican                    2458
sandwiches                 2268
caterer                    2191
american (traditional)     2141
nightlife                  2030
bars                       1956
pizza                      1910
breakfast                  1904
delivery                   1893
american                   1885
fast food                  1663
chinese                    1635
breakfast & brunch         1579
Name: count, dtype: int64